Machine2 node-red.json
[
    {
        "id": "436938ed0226b400",
        "type": "tab",
        "label": "Gefran2PLC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "35b16d5ecdf07d35",
        "type": "tab",
        "label": "PID",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "17a988668c938554",
        "type": "subflow",
        "name": "ZonePID",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 140,
                "wires": [
                    {
                        "id": "706c2eaa29a64752"
                    },
                    {
                        "id": "736ffd4dde8f80ec"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "ui-group",
                "type": "ui-group",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Zone UI Group"
                    },
                    "type": "conf-types"
                }
            },
            {
                "name": "gefran",
                "type": "modbus-client",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Gefran"
                    },
                    "type": "conf-types"
                }
            },
            {
                "name": "zoneNumber",
                "type": "num",
                "value": "0"
            },
            {
                "name": "address",
                "type": "num",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "4042154c40569621",
        "type": "group",
        "z": "436938ed0226b400",
        "name": "Debug",
        "style": {
            "label": true
        },
        "nodes": [
            "16b6d420cc2489ee",
            "a442b160679ec293",
            "4d4d03b4e17922f0",
            "b74087a64e87bdaa"
        ],
        "x": 694,
        "y": 659,
        "w": 632,
        "h": 142
    },
    {
        "id": "7bc25815b54b0434",
        "type": "group",
        "z": "436938ed0226b400",
        "name": "IIoT Framework",
        "style": {
            "label": true,
            "stroke": "#007C84",
            "color": "#007C84"
        },
        "nodes": [
            "7f1541e8e1b6263c",
            "5294ea4c36e0e1c9",
            "d9e788a3d10b9e3c",
            "4fd6f30510f85dca"
        ],
        "x": 14,
        "y": 79,
        "w": 612,
        "h": 122
    },
    {
        "id": "b17d34f713647319",
        "type": "plc-connector",
        "host": "192.168.3.40",
        "station_name": "PLCnext",
        "session_timeout": "5000",
        "api_version": "v1.4",
        "auth_required": "true"
    },
    {
        "id": "b826498401685724",
        "type": "modbus-client",
        "name": "Gefran3",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.3.43",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 6,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "6bb6fa456075eb32",
        "type": "modbus-client",
        "name": "Gefran2",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.3.42",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 5,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "03d24f212f3a0679",
        "type": "modbus-client",
        "name": "Gefran1",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.3.41",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 4,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "bef40dec2b6bcac4",
        "type": "modbus-client",
        "name": "Gefran6",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.3.46",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 9,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "b3f9fdabfa2351c4",
        "type": "modbus-client",
        "name": "Gefran5",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.3.45",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 8,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "9afc2ed065373931",
        "type": "modbus-client",
        "name": "Gefran4",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.3.44",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 7,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "d26ae779cd42b188",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "CentralPlcNext",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://192.168.3.10:58086",
        "timeout": 10,
        "rejectUnauthorized": false
    },
    {
        "id": "14a60ac4ede7757a",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "0f8ebb1347a3901d",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "61844bc14615df73",
        "type": "ui-group",
        "name": "Group 1",
        "page": "21ad89b103b9db43",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6754b706b2abaaeb",
        "type": "ui-group",
        "name": "Zone 1",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ec5be1051e912325",
        "type": "ui-group",
        "name": "Zone 2",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5330d10635edeb7b",
        "type": "ui-group",
        "name": "Zone 3",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a428773c317da826",
        "type": "ui-group",
        "name": "Zone 4",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "7a290f14e7656bde",
        "type": "ui-group",
        "name": "Zone 5",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 6,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "85f5a14ee88b39f7",
        "type": "ui-group",
        "name": "Zone 6",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 7,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "13ae8380129d4176",
        "type": "ui-group",
        "name": "Zone 7",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 8,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "cb1cba15f89bc1ef",
        "type": "ui-group",
        "name": "Zone 8",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 9,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "519b7d9b509e84b7",
        "type": "ui-group",
        "name": "Zone 9",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 10,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "9832b5fb3730cd6b",
        "type": "ui-group",
        "name": "Zone 10",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 11,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4e8a0cfb0d6d3376",
        "type": "ui-group",
        "name": "Zone 11",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 12,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f24f473a5b461935",
        "type": "ui-group",
        "name": "Zone 12",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 13,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "189eadc21145ecd0",
        "type": "ui-group",
        "name": "Group 14",
        "page": "1eb399db7c0af545",
        "width": "9",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5fe1859dafed9e0c",
        "type": "ui-group",
        "name": "Zone 13",
        "page": "1eb399db7c0af545",
        "width": "9",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "935fc86b8fe940d0",
        "type": "ui-group",
        "name": "Zone 14",
        "page": "1eb399db7c0af545",
        "width": "9",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8df5035f0d5c9f44",
        "type": "ui-group",
        "name": "Zone 15",
        "page": "1eb399db7c0af545",
        "width": "9",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "7b99ecd152bba05f",
        "type": "ui-group",
        "name": "Zone 16",
        "page": "1eb399db7c0af545",
        "width": "9",
        "height": "1",
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d6546d1da17c3b8f",
        "type": "ui-group",
        "name": "Zone 17",
        "page": "1eb399db7c0af545",
        "width": "9",
        "height": "1",
        "order": 6,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "fb6cd5c52320d750",
        "type": "ui-group",
        "name": "Zone 18",
        "page": "1eb399db7c0af545",
        "width": "9",
        "height": "1",
        "order": 7,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "545718a182831393",
        "type": "ui-group",
        "name": "Zone 19",
        "page": "1eb399db7c0af545",
        "width": "9",
        "height": "1",
        "order": 8,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "21bef34d396696e3",
        "type": "ui-group",
        "name": "Zone 20",
        "page": "1eb399db7c0af545",
        "width": "9",
        "height": "1",
        "order": 9,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "66831218fe28fa29",
        "type": "ui-group",
        "name": "Zone 21",
        "page": "1eb399db7c0af545",
        "width": "9",
        "height": "1",
        "order": 10,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4228c4004c86c763",
        "type": "ui-group",
        "name": "Zone 22",
        "page": "1eb399db7c0af545",
        "width": "9",
        "height": "1",
        "order": 11,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "02e88779a1b262e3",
        "type": "ui-group",
        "name": "Zone 23",
        "page": "1eb399db7c0af545",
        "width": "9",
        "height": "1",
        "order": 12,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "7fdcc1c662500bd1",
        "type": "ui-group",
        "name": "Zone 24",
        "page": "1eb399db7c0af545",
        "width": "9",
        "height": "1",
        "order": 13,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "21ad89b103b9db43",
        "type": "ui-page",
        "name": "Stream 2 (Right)",
        "ui": "0f8ebb1347a3901d",
        "path": "/right",
        "icon": "arrow-up-right-bold",
        "layout": "grid",
        "theme": "14a60ac4ede7757a",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "1eb399db7c0af545",
        "type": "ui-page",
        "name": "Stream 3 (Left)",
        "ui": "0f8ebb1347a3901d",
        "path": "/left",
        "icon": "arrow-up-left-bold",
        "layout": "grid",
        "theme": "14a60ac4ede7757a",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "706c2eaa29a64752",
        "type": "function",
        "z": "17a988668c938554",
        "name": "Split Values",
        "func": "return [\n    {payload : msg.p},\n    {payload : msg.i},\n    {payload : msg.d},\n    {payload : msg.t},\n    ];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 140,
        "wires": [
            [
                "5dba53281c2ed83a"
            ],
            [
                "4ba5cc9e62c6c178"
            ],
            [
                "3d84ad479d83d915"
            ],
            [
                "90e911e2ab3eaf70"
            ]
        ]
    },
    {
        "id": "7ef158487665bd98",
        "type": "function",
        "z": "17a988668c938554",
        "name": "Store",
        "func": "flow.set(`${env.get(\"zoneNumber\")}P`, msg.payload);",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "1df00faa7ed2f0ba",
        "type": "function",
        "z": "17a988668c938554",
        "name": "Store",
        "func": "flow.set(`${env.get(\"zoneNumber\")}I`, msg.payload);",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "c1cc073a29dae67c",
        "type": "function",
        "z": "17a988668c938554",
        "name": "Store",
        "func": "flow.set(`${env.get(\"zoneNumber\")}D`, msg.payload);",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "c822af1c209c1a46",
        "type": "function",
        "z": "17a988668c938554",
        "name": "Store",
        "func": "flow.set(`${env.get(\"zoneNumber\")}T`, msg.payload);",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "addef47733fb77fb",
        "type": "function",
        "z": "17a988668c938554",
        "name": "Recall",
        "func": "msg.payload = [\n    flow.get(`${env.get(\"zoneNumber\")}P`) * 10,\n    flow.get(`${env.get(\"zoneNumber\")}I`) * 100,\n    flow.get(`${env.get(\"zoneNumber\")}D`) * 100,\n    flow.get(`${env.get(\"zoneNumber\")}T`),\n    ];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 220,
        "wires": [
            [
                "63b12672611e14eb"
            ]
        ]
    },
    {
        "id": "63b12672611e14eb",
        "type": "modbus-write",
        "z": "17a988668c938554",
        "name": "WriteGefran",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "",
        "dataType": "MHoldingRegisters",
        "adr": "${address}",
        "quantity": "4",
        "server": "${gefran}",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 790,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "736ffd4dde8f80ec",
        "type": "function",
        "z": "17a988668c938554",
        "name": "Detect Changes",
        "func": "var z = env.get(\"zoneNumber\");\nvar lastP = flow.get(`${z}Pl`);\nvar lastI = flow.get(`${z}Il`);\nvar lastD = flow.get(`${z}Dl`);\nvar lastT = flow.get(`${z}Tl`);\nvar wasEnabled = flow.get(`${z}e`);\nvar isEnabled = global.get(`${z}Enabled`);\nflow.set(`${z}e`, isEnabled);\n\n//check if we're running\nif (!isEnabled)\n    return null;\n\n//skip change check on rising edge of enable to always record the PID values on start\nif (wasEnabled)\n    //check if there are changes\n    if (lastP ==  msg.p && lastI ==  msg.i && lastD ==  msg.d && lastT ==  msg.t)\n        return null;\n    \nvar m = global.get(\"machineNumber\");\nvar stream = 2*m - 1;\nif (m > 1 && z <= 12)\n    stream -= 1;\n   \nmsg.payload = [\n    {\n        PID_Pb:msg.p,\n        PID_It:msg.i,\n        PID_dt:msg.d,\n        PID_Ct:msg.t\n    },\n    {\n        machine: m,\n        stream: stream,\n        zone: (z-1)%12+1,\n        plug: z\n    },\n];\n\nflow.set(`${z}Pl`, msg.p);\nflow.set(`${z}Il`, msg.i);\nflow.set(`${z}Dl`, msg.d);\nflow.set(`${z}Tl`, msg.t);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 300,
        "wires": [
            [
                "bda0ca8a7992232b"
            ]
        ]
    },
    {
        "id": "5dba53281c2ed83a",
        "type": "ui-number-input",
        "z": "17a988668c938554",
        "group": "${ui-group}",
        "name": "",
        "label": "P",
        "order": 1,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "999.9",
        "step": "0.1",
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 430,
        "y": 60,
        "wires": [
            [
                "7ef158487665bd98"
            ]
        ]
    },
    {
        "id": "4ba5cc9e62c6c178",
        "type": "ui-number-input",
        "z": "17a988668c938554",
        "group": "${ui-group}",
        "name": "",
        "label": "I",
        "order": 1,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "99.99",
        "step": "0.01",
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 430,
        "y": 100,
        "wires": [
            [
                "1df00faa7ed2f0ba"
            ]
        ]
    },
    {
        "id": "3d84ad479d83d915",
        "type": "ui-number-input",
        "z": "17a988668c938554",
        "group": "${ui-group}",
        "name": "",
        "label": "D",
        "order": 1,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "99.99",
        "step": "0.01",
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 430,
        "y": 140,
        "wires": [
            [
                "c1cc073a29dae67c"
            ]
        ]
    },
    {
        "id": "90e911e2ab3eaf70",
        "type": "ui-number-input",
        "z": "17a988668c938554",
        "group": "${ui-group}",
        "name": "",
        "label": "T",
        "order": 1,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "200",
        "step": "1",
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 430,
        "y": 180,
        "wires": [
            [
                "c822af1c209c1a46"
            ]
        ]
    },
    {
        "id": "38950161e31bc57d",
        "type": "ui-button",
        "z": "17a988668c938554",
        "group": "${ui-group}",
        "name": "",
        "label": "Write",
        "order": 0,
        "width": "1",
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "addef47733fb77fb"
            ]
        ]
    },
    {
        "id": "bda0ca8a7992232b",
        "type": "influxdb out",
        "z": "17a988668c938554",
        "influxdb": "d26ae779cd42b188",
        "name": "",
        "measurement": "heater_data",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "A2P",
        "bucket": "Pultrusion",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "7f1541e8e1b6263c",
        "type": "inject",
        "z": "436938ed0226b400",
        "g": "7bc25815b54b0434",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "5294ea4c36e0e1c9"
            ]
        ]
    },
    {
        "id": "5294ea4c36e0e1c9",
        "type": "plc-read-variables",
        "z": "436938ed0226b400",
        "g": "7bc25815b54b0434",
        "plc_connector": "b17d34f713647319",
        "variables": "Arp.Plc.Eclr/Zone",
        "searchbar": "",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "62e6758790924ffe"
            ]
        ]
    },
    {
        "id": "1d1d36485100409f",
        "type": "comment",
        "z": "436938ed0226b400",
        "name": "Collect data from the IIoT Framework and send them to the activated Outputs",
        "info": "",
        "x": 290,
        "y": 40,
        "wires": []
    },
    {
        "id": "16b6d420cc2489ee",
        "type": "debug",
        "z": "436938ed0226b400",
        "g": "4042154c40569621",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 700,
        "wires": []
    },
    {
        "id": "d9e788a3d10b9e3c",
        "type": "comment",
        "z": "436938ed0226b400",
        "g": "7bc25815b54b0434",
        "name": "Configuration of PLCnext Parameters",
        "info": "",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "a442b160679ec293",
        "type": "comment",
        "z": "436938ed0226b400",
        "d": true,
        "g": "4042154c40569621",
        "name": "Activate for Debug",
        "info": "",
        "x": 810,
        "y": 700,
        "wires": []
    },
    {
        "id": "4fd6f30510f85dca",
        "type": "comment",
        "z": "436938ed0226b400",
        "g": "7bc25815b54b0434",
        "name": "Configuration of Update Time",
        "info": "",
        "x": 160,
        "y": 120,
        "wires": []
    },
    {
        "id": "1662fb1345ef9c0e",
        "type": "inject",
        "z": "436938ed0226b400",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "requestA",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "c1aaa25e415e4c68",
                "f2f94d02a3cf3ff0",
                "bc324e90c64a521d",
                "58a5934c67a03121",
                "12a1b0240019c358",
                "3f1375ba6c5c742f"
            ]
        ]
    },
    {
        "id": "737ff726a8dd25ed",
        "type": "comment",
        "z": "436938ed0226b400",
        "name": "Max 18 registers",
        "info": "Max 18 registers per request",
        "x": 480,
        "y": 600,
        "wires": []
    },
    {
        "id": "5683f8de25a1d598",
        "type": "plc-write-variables",
        "z": "436938ed0226b400",
        "plc_connector": "b17d34f713647319",
        "vars": "",
        "var_list": "{\"items\":[]}",
        "searchbar": "Arp.Plc.Eclr/Zone[9].PV",
        "x": 980,
        "y": 860,
        "wires": [
            [
                "4d4d03b4e17922f0"
            ]
        ]
    },
    {
        "id": "4d4d03b4e17922f0",
        "type": "debug",
        "z": "436938ed0226b400",
        "g": "4042154c40569621",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 760,
        "wires": []
    },
    {
        "id": "62e6758790924ffe",
        "type": "function",
        "z": "436938ed0226b400",
        "name": "Gefran1 Formatter",
        "func": "var zones = msg.payload.variables[0].value;\nvar lastValues = [];\nvar msgs = [{},{},{},{},{},{}];\nvar anyChanges = [false,false,false,false,false,false];\n\nfor(var i = 0; i < 24; i++)\n    global.set(`${i+1}Enabled`, zones[i].Enabled);\n\nfunction clampTemp(temp)\n{\n    if (temp < 32)\n        return 32;\n    if (temp > 999)\n        return 999;\n    return temp;\n}\n\nfunction makeWord(num)\n{\n    if (num < 0)\n        num += 32768;\n        \n    return num & 0xFFFF;\n}\n\nfor (var unit = 0; unit < 6; unit++)\n{\n    lastValues[unit] = global.get(`Write${unit}Vals`);\n\n    msgs[unit] = {\n        payload: [\n            0,\n            1,\n            2,\n            3,\n            4,\n            5,\n            6,\n            7,\n            8,\n            9,\n            10,\n            11,\n            12,\n            13,\n            14,\n            15,\n        ]\n    };\n\n    for (var z = 0; z < 4; z++)\n    {\n        msgs[unit].payload[z*4+0] = makeWord(clampTemp(zones[4*unit+z].SP));\n        msgs[unit].payload[z*4+1] = makeWord((zones[4*unit+z].Enabled?0:8) + (zones[4*unit+z].SelfTune?4:0));\n        msgs[unit].payload[z*4+2] = makeWord(clampTemp(0));\n        msgs[unit].payload[z*4+3] = makeWord(clampTemp(0));\n    }\n    if (Array.isArray(lastValues[unit])) {\n        for (var i = 0; i < 16; i++) {\n            if (msgs[unit].payload[i] != lastValues[unit][i]) {\n                anyChanges[unit] = true;\n                break;\n            }\n        }\n    }\n    else {\n        anyChanges[unit] = true;\n    }\n\n    if (anyChanges[unit])\n    {\n        global.set(`Write${unit}Vals`, msgs[unit].payload);\n    }\n}\n\nreturn [\n    anyChanges[0] ? msgs[0] : null,\n    anyChanges[1] ? msgs[1] : null,\n    anyChanges[2] ? msgs[2] : null,\n    anyChanges[3] ? msgs[3] : null,\n    anyChanges[4] ? msgs[4] : null,\n    anyChanges[5] ? msgs[5] : null,\n];\n",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 360,
        "wires": [
            [
                "ae3ce5dd92d8f904"
            ],
            [
                "6e986fd5c9c6a208"
            ],
            [
                "b77d91e366242fb4"
            ],
            [
                "36733435f3eb7a73"
            ],
            [
                "f698c1b3effe1dfa"
            ],
            [
                "a727bbe3ee2581c5"
            ]
        ]
    },
    {
        "id": "59151a69276feef8",
        "type": "function",
        "z": "436938ed0226b400",
        "name": "PLCnext Formatter",
        "func": "var values = msg.payload;\nmsg.payload = {};\nmsg.payload.variables = [];\n\nvar m = global.get(`machineNumber`);\nvar firstZone = 1;\n\nif (msg.modbusRequest.unitid == \"4\")\n    firstZone = 1;\nelse if (msg.modbusRequest.unitid == \"5\")\n    firstZone = 5;\nelse if (msg.modbusRequest.unitid == \"6\")\n    firstZone = 9;\nelse if (msg.modbusRequest.unitid == \"7\")\n    firstZone = 13;\nelse if (msg.modbusRequest.unitid == \"8\")\n    firstZone = 17;\nelse if (msg.modbusRequest.unitid == \"9\")\n    firstZone = 21;\n\nif (msg.topic == \"requestB\")\n    firstZone += 2;\n\nvar stream = m*2-1;\nif (m > 1 && firstZone < 13)\n    stream -= 1;\n\nfunction makeVariable(zone, name, value)\n{\n    return {\n        path:`Arp.Plc.Eclr/Zone[${zone+firstZone}].${name}`,\n        value: value,\n        valueType:\"Constant\"\n    }\n}\n\nvar v = 0;\nvar influxMsg = {tags:{\n    machine: m,\n    stream: stream,\n    zone: firstZone,\n}}\noutputMsg = {};\noutputMsg.payload = [];\nfor (var z=0; z<2; z++)\n{\n    if (global.get(`${z + firstZone}Enabled`))\n        outputMsg.payload[z] = [\n            {\n                duty_pct:values[z*9+2]*0.1,\n            },\n            {\n                machine: m,\n                stream: stream,\n                zone: (z + firstZone - 1)%12 + 1,\n                plug: z + firstZone,\n            },\n        ];\n    flow.set(`${z+firstZone}PV`, values[z*9]);\n    flow.set(`${z+firstZone}Amps`, values[z*9+4]*0.1);\n    msg.payload.variables[v++] = makeVariable(z,\"PV\",values[z*9+0]);\n    msg.payload.variables[v++] = makeVariable(z,\"SPA\",values[z*9+1]);\n    msg.payload.variables[v++] = makeVariable(z,\"Output\",values[z*9+2]*0.1);\n    msg.payload.variables[v++] = makeVariable(z,\"Alarms\",values[z*9+3]);\n    msg.payload.variables[v++] = makeVariable(z,\"Amps\", values[z*9+4]*0.1);\n    msg.payload.variables[v++] = makeVariable(z,\"Enabled\", (values[z*9+5] & 8) == 0);\n    msg.payload.variables[v++] = makeVariable(z,\"SelfTuning\", (values[z*9+5] & 4) > 0);\n}\n\nreturn [msg,outputMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 860,
        "wires": [
            [
                "5683f8de25a1d598"
            ],
            [
                "72100680cbbc0b89"
            ]
        ]
    },
    {
        "id": "73683e0f1723d444",
        "type": "inject",
        "z": "436938ed0226b400",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.6",
        "topic": "requestB",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 980,
        "wires": [
            [
                "21ef9f4e2ece390b",
                "8a39b70a7a2f7fa1",
                "c6b253b993aefb30",
                "ca17bae24a31da43",
                "8daf45904c42ac06",
                "bb20c72eff62d490"
            ]
        ]
    },
    {
        "id": "b77d91e366242fb4",
        "type": "modbus-write",
        "z": "436938ed0226b400",
        "name": "Write3",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "6",
        "dataType": "MHoldingRegisters",
        "adr": "36",
        "quantity": "16",
        "server": "b826498401685724",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6e986fd5c9c6a208",
        "type": "modbus-write",
        "z": "436938ed0226b400",
        "name": "Write2",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "5",
        "dataType": "MHoldingRegisters",
        "adr": "36",
        "quantity": "16",
        "server": "6bb6fa456075eb32",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ae3ce5dd92d8f904",
        "type": "modbus-write",
        "z": "436938ed0226b400",
        "name": "Write1",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "4",
        "dataType": "MHoldingRegisters",
        "adr": "36",
        "quantity": "16",
        "server": "03d24f212f3a0679",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 260,
        "wires": [
            [
                "16b6d420cc2489ee"
            ],
            []
        ]
    },
    {
        "id": "a727bbe3ee2581c5",
        "type": "modbus-write",
        "z": "436938ed0226b400",
        "name": "Write6",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "9",
        "dataType": "MHoldingRegisters",
        "adr": "36",
        "quantity": "16",
        "server": "bef40dec2b6bcac4",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f698c1b3effe1dfa",
        "type": "modbus-write",
        "z": "436938ed0226b400",
        "name": "Write5",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "8",
        "dataType": "MHoldingRegisters",
        "adr": "36",
        "quantity": "16",
        "server": "b3f9fdabfa2351c4",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "36733435f3eb7a73",
        "type": "modbus-write",
        "z": "436938ed0226b400",
        "name": "Write4",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "7",
        "dataType": "MHoldingRegisters",
        "adr": "36",
        "quantity": "16",
        "server": "9afc2ed065373931",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "bc324e90c64a521d",
        "type": "modbus-getter",
        "z": "436938ed0226b400",
        "name": "Read3a",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "6",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "18",
        "server": "b826498401685724",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 720,
        "wires": [
            [
                "59151a69276feef8"
            ],
            []
        ]
    },
    {
        "id": "f2f94d02a3cf3ff0",
        "type": "modbus-getter",
        "z": "436938ed0226b400",
        "name": "Read2a",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "5",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "18",
        "server": "6bb6fa456075eb32",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 680,
        "wires": [
            [
                "59151a69276feef8"
            ],
            []
        ]
    },
    {
        "id": "c1aaa25e415e4c68",
        "type": "modbus-getter",
        "z": "436938ed0226b400",
        "name": "Read1a",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "4",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "18",
        "server": "03d24f212f3a0679",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 640,
        "wires": [
            [
                "59151a69276feef8",
                "b74087a64e87bdaa"
            ],
            []
        ]
    },
    {
        "id": "21ef9f4e2ece390b",
        "type": "modbus-getter",
        "z": "436938ed0226b400",
        "name": "Read1b",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "4",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "18",
        "server": "03d24f212f3a0679",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 880,
        "wires": [
            [
                "59151a69276feef8"
            ],
            []
        ]
    },
    {
        "id": "8a39b70a7a2f7fa1",
        "type": "modbus-getter",
        "z": "436938ed0226b400",
        "name": "Read2b",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "5",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "18",
        "server": "6bb6fa456075eb32",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 920,
        "wires": [
            [
                "59151a69276feef8"
            ],
            []
        ]
    },
    {
        "id": "c6b253b993aefb30",
        "type": "modbus-getter",
        "z": "436938ed0226b400",
        "name": "Read3b",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "6",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "18",
        "server": "b826498401685724",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 960,
        "wires": [
            [
                "59151a69276feef8"
            ],
            []
        ]
    },
    {
        "id": "3f1375ba6c5c742f",
        "type": "modbus-getter",
        "z": "436938ed0226b400",
        "name": "Read6a",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "9",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "18",
        "server": "bef40dec2b6bcac4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 840,
        "wires": [
            [
                "59151a69276feef8"
            ],
            []
        ]
    },
    {
        "id": "12a1b0240019c358",
        "type": "modbus-getter",
        "z": "436938ed0226b400",
        "name": "Read5a",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "8",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "18",
        "server": "b3f9fdabfa2351c4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 800,
        "wires": [
            [
                "59151a69276feef8"
            ],
            []
        ]
    },
    {
        "id": "58a5934c67a03121",
        "type": "modbus-getter",
        "z": "436938ed0226b400",
        "name": "Read4a",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "7",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "18",
        "server": "9afc2ed065373931",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 760,
        "wires": [
            [
                "59151a69276feef8"
            ],
            []
        ]
    },
    {
        "id": "ca17bae24a31da43",
        "type": "modbus-getter",
        "z": "436938ed0226b400",
        "name": "Read4b",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "7",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "18",
        "server": "9afc2ed065373931",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 1000,
        "wires": [
            [
                "59151a69276feef8"
            ],
            []
        ]
    },
    {
        "id": "8daf45904c42ac06",
        "type": "modbus-getter",
        "z": "436938ed0226b400",
        "name": "Read5b",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "8",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "18",
        "server": "b3f9fdabfa2351c4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 1040,
        "wires": [
            [
                "59151a69276feef8"
            ],
            []
        ]
    },
    {
        "id": "bb20c72eff62d490",
        "type": "modbus-getter",
        "z": "436938ed0226b400",
        "name": "Read6b",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "9",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "18",
        "server": "bef40dec2b6bcac4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 1080,
        "wires": [
            [
                "59151a69276feef8"
            ],
            []
        ]
    },
    {
        "id": "eac0fe84f15536a2",
        "type": "inject",
        "z": "436938ed0226b400",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 470,
        "y": 1240,
        "wires": [
            [
                "ca41762b306765b3"
            ]
        ]
    },
    {
        "id": "ca41762b306765b3",
        "type": "function",
        "z": "436938ed0226b400",
        "name": "temp & amps",
        "func": "msg.payload = [];\n\nvar m = global.get(`machineNumber`);\nvar stream = m*2-1;\nif (m == 1)\n    stream = 2;\n\nvar j = 0;\nfor(var i = 1; i <= 24; i++)\n{\n    if (global.get(`${i}Enabled`))\n    {\n        msg.payload[j++] = [\n            {\n                temperature_F: flow.get(`${i}PV`),\n                current_A: flow.get(`${i}Amps`),\n            },\n            {\n                machine: global.get(`machineNumber`),\n                stream: i<13 ? stream - 1 : stream,\n                zone: (i-1)%12+1,\n                plug: i,\n            },\n        ]\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1240,
        "wires": [
            [
                "72100680cbbc0b89"
            ]
        ]
    },
    {
        "id": "1f51e1d30af0b955",
        "type": "function",
        "z": "436938ed0226b400",
        "name": "Set Global Constants",
        "func": "global.set(`machineNumber`, 2);",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 280,
        "wires": []
    },
    {
        "id": "fe10971fd988253c",
        "type": "inject",
        "z": "436938ed0226b400",
        "name": "Init",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.01",
        "topic": "",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "1f51e1d30af0b955"
            ]
        ]
    },
    {
        "id": "72100680cbbc0b89",
        "type": "influxdb out",
        "z": "436938ed0226b400",
        "influxdb": "d26ae779cd42b188",
        "name": "",
        "measurement": "heater_data",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "A2P",
        "bucket": "Pultrusion",
        "x": 1040,
        "y": 1100,
        "wires": []
    },
    {
        "id": "b74087a64e87bdaa",
        "type": "debug",
        "z": "436938ed0226b400",
        "g": "4042154c40569621",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 760,
        "wires": []
    },
    {
        "id": "a87f64e14c7b517c",
        "type": "modbus-getter",
        "z": "35b16d5ecdf07d35",
        "name": "Read3",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "72",
        "quantity": "18",
        "server": "b826498401685724",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 490,
        "y": 420,
        "wires": [
            [
                "d332971c79e6f731"
            ],
            []
        ]
    },
    {
        "id": "727f6e297013d8e2",
        "type": "modbus-getter",
        "z": "35b16d5ecdf07d35",
        "name": "Read2",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "72",
        "quantity": "18",
        "server": "6bb6fa456075eb32",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 490,
        "y": 260,
        "wires": [
            [
                "d944412902949ae4"
            ],
            []
        ]
    },
    {
        "id": "8a0c865a1cb08ff7",
        "type": "modbus-getter",
        "z": "35b16d5ecdf07d35",
        "name": "Read1",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "72",
        "quantity": "18",
        "server": "03d24f212f3a0679",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 490,
        "y": 100,
        "wires": [
            [
                "2717c82094531bb2"
            ],
            []
        ]
    },
    {
        "id": "d1c461c0b69db303",
        "type": "modbus-getter",
        "z": "35b16d5ecdf07d35",
        "name": "Read6",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "72",
        "quantity": "18",
        "server": "bef40dec2b6bcac4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 490,
        "y": 900,
        "wires": [
            [
                "be5357bbae2ad8d5"
            ],
            []
        ]
    },
    {
        "id": "dc07416c2bee24cf",
        "type": "modbus-getter",
        "z": "35b16d5ecdf07d35",
        "name": "Read5",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "72",
        "quantity": "18",
        "server": "b3f9fdabfa2351c4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 490,
        "y": 740,
        "wires": [
            [
                "9309b66d795329e2"
            ],
            []
        ]
    },
    {
        "id": "ef0d7c9b53cf8a3a",
        "type": "modbus-getter",
        "z": "35b16d5ecdf07d35",
        "name": "Read4",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "72",
        "quantity": "18",
        "server": "9afc2ed065373931",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 490,
        "y": 580,
        "wires": [
            [
                "ad0da584d7fd14c6"
            ],
            []
        ]
    },
    {
        "id": "39dfa52bf98b2f33",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 1 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "6754b706b2abaaeb",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "03d24f212f3a0679",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "1",
                "type": "num"
            },
            {
                "name": "address",
                "value": "72",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 40,
        "wires": []
    },
    {
        "id": "2717c82094531bb2",
        "type": "function",
        "z": "35b16d5ecdf07d35",
        "name": "Split Zone Data",
        "func": "values = msg.payload;\n\nfunction makeMessage(rawData)\n{\n    return {\n        p: rawData[0] * 0.1,\n        i: rawData[1] * 0.01,\n        d: rawData[2] * 0.01,\n        t: rawData[3],\n    };\n}\n\nreturn [\n    makeMessage(values),\n    makeMessage(values.slice(4,8)),\n    makeMessage(values.slice(8,12)),\n    makeMessage(values.slice(12,16))];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 100,
        "wires": [
            [
                "39dfa52bf98b2f33"
            ],
            [
                "ec7745182424622a"
            ],
            [
                "49cde45fb0374a1f"
            ],
            [
                "8b7026f87f8a267e"
            ]
        ]
    },
    {
        "id": "ec7745182424622a",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 2 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "ec5be1051e912325",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "03d24f212f3a0679",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "2",
                "type": "num"
            },
            {
                "name": "address",
                "value": "76",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 80,
        "wires": []
    },
    {
        "id": "49cde45fb0374a1f",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 3 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "5330d10635edeb7b",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "03d24f212f3a0679",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "3",
                "type": "num"
            },
            {
                "name": "address",
                "value": "80",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "8b7026f87f8a267e",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 4 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "a428773c317da826",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "03d24f212f3a0679",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "4",
                "type": "num"
            },
            {
                "name": "address",
                "value": "84",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 160,
        "wires": []
    },
    {
        "id": "0f2dce9146065c69",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 5 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "7a290f14e7656bde",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "6bb6fa456075eb32",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "5",
                "type": "num"
            },
            {
                "name": "address",
                "value": "72",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 200,
        "wires": []
    },
    {
        "id": "d944412902949ae4",
        "type": "function",
        "z": "35b16d5ecdf07d35",
        "name": "Split Zone Data",
        "func": "values = msg.payload;\n\nfunction makeMessage(rawData)\n{\n    return {\n        p: rawData[0] * 0.1,\n        i: rawData[1] * 0.01,\n        d: rawData[2] * 0.01,\n        t: rawData[3],\n    };\n}\n\nreturn [\n    makeMessage(values),\n    makeMessage(values.slice(4,8)),\n    makeMessage(values.slice(8,12)),\n    makeMessage(values.slice(12,16))];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 260,
        "wires": [
            [
                "0f2dce9146065c69"
            ],
            [
                "9c83d11c7f9399c6"
            ],
            [
                "79e6493df2f8cb7a"
            ],
            [
                "56e597155071d27e"
            ]
        ]
    },
    {
        "id": "9c83d11c7f9399c6",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 6 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "85f5a14ee88b39f7",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "6bb6fa456075eb32",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "6",
                "type": "num"
            },
            {
                "name": "address",
                "value": "76",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "79e6493df2f8cb7a",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 7 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "13ae8380129d4176",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "6bb6fa456075eb32",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "7",
                "type": "num"
            },
            {
                "name": "address",
                "value": "80",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "56e597155071d27e",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 8 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "cb1cba15f89bc1ef",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "6bb6fa456075eb32",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "8",
                "type": "num"
            },
            {
                "name": "address",
                "value": "84",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 320,
        "wires": []
    },
    {
        "id": "ef0f68ca3da76d24",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 9 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "519b7d9b509e84b7",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "b826498401685724",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "9",
                "type": "num"
            },
            {
                "name": "address",
                "value": "72",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 360,
        "wires": []
    },
    {
        "id": "d332971c79e6f731",
        "type": "function",
        "z": "35b16d5ecdf07d35",
        "name": "Split Zone Data",
        "func": "values = msg.payload;\n\nfunction makeMessage(rawData)\n{\n    return {\n        p: rawData[0] * 0.1,\n        i: rawData[1] * 0.01,\n        d: rawData[2] * 0.01,\n        t: rawData[3],\n    };\n}\n\nreturn [\n    makeMessage(values),\n    makeMessage(values.slice(4,8)),\n    makeMessage(values.slice(8,12)),\n    makeMessage(values.slice(12,16))];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 420,
        "wires": [
            [
                "ef0f68ca3da76d24"
            ],
            [
                "be6260cde63ab594"
            ],
            [
                "1083138d656222c8"
            ],
            [
                "e406d2c3d5c3ed5a"
            ]
        ]
    },
    {
        "id": "be6260cde63ab594",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 10 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "9832b5fb3730cd6b",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "b826498401685724",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "10",
                "type": "num"
            },
            {
                "name": "address",
                "value": "76",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 400,
        "wires": []
    },
    {
        "id": "1083138d656222c8",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 11 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "4e8a0cfb0d6d3376",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "b826498401685724",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "11",
                "type": "num"
            },
            {
                "name": "address",
                "value": "80",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 440,
        "wires": []
    },
    {
        "id": "e406d2c3d5c3ed5a",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 12 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "f24f473a5b461935",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "b826498401685724",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "12",
                "type": "num"
            },
            {
                "name": "address",
                "value": "84",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 480,
        "wires": []
    },
    {
        "id": "201a677f36f5205c",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 13 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "5fe1859dafed9e0c",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "9afc2ed065373931",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "13",
                "type": "num"
            },
            {
                "name": "address",
                "value": "72",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 520,
        "wires": []
    },
    {
        "id": "ad0da584d7fd14c6",
        "type": "function",
        "z": "35b16d5ecdf07d35",
        "name": "Split Zone Data",
        "func": "values = msg.payload;\n\nfunction makeMessage(rawData)\n{\n    return {\n        p: rawData[0] * 0.1,\n        i: rawData[1] * 0.01,\n        d: rawData[2] * 0.01,\n        t: rawData[3],\n    };\n}\n\nreturn [\n    makeMessage(values),\n    makeMessage(values.slice(4,8)),\n    makeMessage(values.slice(8,12)),\n    makeMessage(values.slice(12,16))];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 580,
        "wires": [
            [
                "201a677f36f5205c"
            ],
            [
                "8e4903c13f3bb4c8"
            ],
            [
                "9d4e6ceebe5ad793"
            ],
            [
                "8c5b318674e0b145"
            ]
        ]
    },
    {
        "id": "8e4903c13f3bb4c8",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 14 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "935fc86b8fe940d0",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "9afc2ed065373931",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "14",
                "type": "num"
            },
            {
                "name": "address",
                "value": "76",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 560,
        "wires": []
    },
    {
        "id": "9d4e6ceebe5ad793",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 15 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "8df5035f0d5c9f44",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "9afc2ed065373931",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "15",
                "type": "num"
            },
            {
                "name": "address",
                "value": "80",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 600,
        "wires": []
    },
    {
        "id": "8c5b318674e0b145",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 16 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "7b99ecd152bba05f",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "9afc2ed065373931",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "16",
                "type": "num"
            },
            {
                "name": "address",
                "value": "84",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 640,
        "wires": []
    },
    {
        "id": "22de91f333805219",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 17 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "d6546d1da17c3b8f",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "b3f9fdabfa2351c4",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "17",
                "type": "num"
            },
            {
                "name": "address",
                "value": "72",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 680,
        "wires": []
    },
    {
        "id": "9309b66d795329e2",
        "type": "function",
        "z": "35b16d5ecdf07d35",
        "name": "Split Zone Data",
        "func": "values = msg.payload;\n\nfunction makeMessage(rawData)\n{\n    return {\n        p: rawData[0] * 0.1,\n        i: rawData[1] * 0.01,\n        d: rawData[2] * 0.01,\n        t: rawData[3],\n    };\n}\n\nreturn [\n    makeMessage(values),\n    makeMessage(values.slice(4,8)),\n    makeMessage(values.slice(8,12)),\n    makeMessage(values.slice(12,16))];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 740,
        "wires": [
            [
                "22de91f333805219"
            ],
            [
                "fb2e38d1adc08c64"
            ],
            [
                "99ecc83a4aee47e9"
            ],
            [
                "1df48a76bf22d10a"
            ]
        ]
    },
    {
        "id": "fb2e38d1adc08c64",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 18 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "fb6cd5c52320d750",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "b3f9fdabfa2351c4",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "18",
                "type": "num"
            },
            {
                "name": "address",
                "value": "76",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 720,
        "wires": []
    },
    {
        "id": "99ecc83a4aee47e9",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 19 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "545718a182831393",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "b3f9fdabfa2351c4",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "19",
                "type": "num"
            },
            {
                "name": "address",
                "value": "80",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 760,
        "wires": []
    },
    {
        "id": "1df48a76bf22d10a",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 20 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "21bef34d396696e3",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "b3f9fdabfa2351c4",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "20",
                "type": "num"
            },
            {
                "name": "address",
                "value": "84",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 800,
        "wires": []
    },
    {
        "id": "c4b9fed6d616333e",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 21 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "66831218fe28fa29",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "bef40dec2b6bcac4",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "21",
                "type": "num"
            },
            {
                "name": "address",
                "value": "72",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 840,
        "wires": []
    },
    {
        "id": "be5357bbae2ad8d5",
        "type": "function",
        "z": "35b16d5ecdf07d35",
        "name": "Split Zone Data",
        "func": "values = msg.payload;\n\nfunction makeMessage(rawData)\n{\n    return {\n        p: rawData[0] * 0.1,\n        i: rawData[1] * 0.01,\n        d: rawData[2] * 0.01,\n        t: rawData[3],\n    };\n}\n\nreturn [\n    makeMessage(values),\n    makeMessage(values.slice(4,8)),\n    makeMessage(values.slice(8,12)),\n    makeMessage(values.slice(12,16))];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 900,
        "wires": [
            [
                "c4b9fed6d616333e"
            ],
            [
                "12d0160763cf9a9a"
            ],
            [
                "858dfb25947c5795"
            ],
            [
                "c7130403069e9200"
            ]
        ]
    },
    {
        "id": "12d0160763cf9a9a",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 22 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "4228c4004c86c763",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "bef40dec2b6bcac4",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "22",
                "type": "num"
            },
            {
                "name": "address",
                "value": "76",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 880,
        "wires": []
    },
    {
        "id": "858dfb25947c5795",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 23 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "02e88779a1b262e3",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "bef40dec2b6bcac4",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "23",
                "type": "num"
            },
            {
                "name": "address",
                "value": "80",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 920,
        "wires": []
    },
    {
        "id": "c7130403069e9200",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 24 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "7fdcc1c662500bd1",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "bef40dec2b6bcac4",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "24",
                "type": "num"
            },
            {
                "name": "address",
                "value": "84",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 960,
        "wires": []
    },
    {
        "id": "415430c092555714",
        "type": "inject",
        "z": "35b16d5ecdf07d35",
        "name": "Every Minute",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "5.5",
        "topic": "",
        "x": 260,
        "y": 500,
        "wires": [
            [
                "8a0c865a1cb08ff7",
                "727f6e297013d8e2",
                "a87f64e14c7b517c",
                "ef0d7c9b53cf8a3a",
                "dc07416c2bee24cf",
                "d1c461c0b69db303"
            ]
        ]
    },
    {
        "id": "28760b4314950aac",
        "type": "ui-button",
        "z": "35b16d5ecdf07d35",
        "group": "61844bc14615df73",
        "name": "GetAllButton",
        "label": "Get All",
        "order": 1,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "8a0c865a1cb08ff7",
                "727f6e297013d8e2",
                "a87f64e14c7b517c"
            ]
        ]
    },
    {
        "id": "fb80053344713a6a",
        "type": "ui-button",
        "z": "35b16d5ecdf07d35",
        "group": "189eadc21145ecd0",
        "name": "GetAllButton",
        "label": "Get All",
        "order": 1,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 740,
        "wires": [
            [
                "ef0d7c9b53cf8a3a",
                "dc07416c2bee24cf",
                "d1c461c0b69db303"
            ]
        ]
    }
]