Machine3 node-red.json
[
    {
        "id": "5c24d4e82af3d5c6",
        "type": "tab",
        "label": "Gefran2PLC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5aa962ab5b491d0d",
        "type": "group",
        "z": "5c24d4e82af3d5c6",
        "name": "Debug",
        "style": {
            "label": true
        },
        "nodes": [
            "759207418df67bb5",
            "5b76ef4813681bb4",
            "9ec317653e0d569a"
        ],
        "x": 694,
        "y": 659,
        "w": 632,
        "h": 142
    },
    {
        "id": "65c1a42bc44ee55b",
        "type": "group",
        "z": "5c24d4e82af3d5c6",
        "name": "IIoT Framework",
        "style": {
            "label": true,
            "stroke": "#007C84",
            "color": "#007C84"
        },
        "nodes": [
            "3022cabe2fb20b68",
            "6b2420d8591f2a07",
            "2d5b360ea9cbf3b7",
            "74cf4d558746efe6"
        ],
        "x": 14,
        "y": 79,
        "w": 612,
        "h": 122
    },
    {
        "id": "b17d34f713647319",
        "type": "plc-connector",
        "host": "192.168.3.60",
        "station_name": "PLCnext",
        "session_timeout": "5000",
        "api_version": "v1.4",
        "auth_required": "false"
    },
    {
        "id": "b8436940cd504d64",
        "type": "modbus-client",
        "name": "Gefran3",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.3.63",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "12",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "b99a88ddc66f488d",
        "type": "modbus-client",
        "name": "Gefran2",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.3.62",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "11",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "2738082274d8a592",
        "type": "modbus-client",
        "name": "Gefran1",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.3.61",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "10",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "8ed1856c0dd889fd",
        "type": "modbus-client",
        "name": "Gefran6",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.3.66",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "15",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "e40be0edeab0ba78",
        "type": "modbus-client",
        "name": "Gefran5",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.3.65",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "14",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "a3b7149c09054706",
        "type": "modbus-client",
        "name": "Gefran4",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.3.64",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "13",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "3022cabe2fb20b68",
        "type": "inject",
        "z": "5c24d4e82af3d5c6",
        "g": "65c1a42bc44ee55b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "6b2420d8591f2a07"
            ]
        ]
    },
    {
        "id": "6b2420d8591f2a07",
        "type": "plc-read-variables",
        "z": "5c24d4e82af3d5c6",
        "g": "65c1a42bc44ee55b",
        "plc_connector": "b17d34f713647319",
        "variables": "Arp.Plc.Eclr/Zone",
        "searchbar": "",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "f66e28ee4d9348b3"
            ]
        ]
    },
    {
        "id": "b9ddc36d7114dca9",
        "type": "comment",
        "z": "5c24d4e82af3d5c6",
        "name": "Collect data from the IIoT Framework and send them to the activated Outputs",
        "info": "",
        "x": 290,
        "y": 40,
        "wires": []
    },
    {
        "id": "759207418df67bb5",
        "type": "debug",
        "z": "5c24d4e82af3d5c6",
        "g": "5aa962ab5b491d0d",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 700,
        "wires": []
    },
    {
        "id": "2d5b360ea9cbf3b7",
        "type": "comment",
        "z": "5c24d4e82af3d5c6",
        "g": "65c1a42bc44ee55b",
        "name": "Configuration of PLCnext Parameters",
        "info": "",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "5b76ef4813681bb4",
        "type": "comment",
        "z": "5c24d4e82af3d5c6",
        "d": true,
        "g": "5aa962ab5b491d0d",
        "name": "Activate for Debug",
        "info": "",
        "x": 810,
        "y": 700,
        "wires": []
    },
    {
        "id": "74cf4d558746efe6",
        "type": "comment",
        "z": "5c24d4e82af3d5c6",
        "g": "65c1a42bc44ee55b",
        "name": "Configuration of Update Time",
        "info": "",
        "x": 160,
        "y": 120,
        "wires": []
    },
    {
        "id": "7e8cf0fa0108b67d",
        "type": "inject",
        "z": "5c24d4e82af3d5c6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "requestA",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "870514ab7b0a4b40",
                "50ee10517d60282e",
                "8c3e0f5c4a60676f",
                "885d984864f9d2bc",
                "0bc750a58a21a35f",
                "3f57322d9036b438"
            ]
        ]
    },
    {
        "id": "f2b3c579f5d3aea1",
        "type": "comment",
        "z": "5c24d4e82af3d5c6",
        "name": "Max 18 registers",
        "info": "Max 18 registers per request",
        "x": 480,
        "y": 600,
        "wires": []
    },
    {
        "id": "1f988a0adf69e6cf",
        "type": "plc-write-variables",
        "z": "5c24d4e82af3d5c6",
        "plc_connector": "b17d34f713647319",
        "vars": "",
        "var_list": "{\"items\":[]}",
        "searchbar": "Arp.Plc.Eclr/Zone[9].PV",
        "x": 980,
        "y": 860,
        "wires": [
            [
                "9ec317653e0d569a"
            ]
        ]
    },
    {
        "id": "9ec317653e0d569a",
        "type": "debug",
        "z": "5c24d4e82af3d5c6",
        "g": "5aa962ab5b491d0d",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 760,
        "wires": []
    },
    {
        "id": "f66e28ee4d9348b3",
        "type": "function",
        "z": "5c24d4e82af3d5c6",
        "name": "Gefran1 Formatter",
        "func": "var zones = msg.payload.variables[0].value;\nvar lastValues = [];\nvar msgs = [{},{},{},{},{},{}];\nvar anyChanges = [false,false,false,false,false,false];\n\nfunction clampTemp(temp)\n{\n    if (temp < 32)\n        return 32;\n    if (temp > 999)\n        return 999;\n    return temp;\n}\n\nfunction makeWord(num)\n{\n    if (num < 0)\n        num += 32768;\n        \n    return num & 0xFFFF;\n}\n\nfor (var unit = 0; unit < 6; unit++)\n{\n    lastValues[unit] = global.get(`Write${unit}Vals`);\n\n    msgs[unit] = {\n        payload: [\n            0,\n            1,\n            2,\n            3,\n            4,\n            5,\n            6,\n            7,\n            8,\n            9,\n            10,\n            11,\n            12,\n            13,\n            14,\n            15,\n        ]\n    };\n\n    for (var z = 0; z < 4; z++)\n    {\n        msgs[unit].payload[z*4+0] = makeWord(clampTemp(zones[4*unit+z].SP));\n        msgs[unit].payload[z*4+1] = makeWord((zones[4*unit+z].Enabled?0:8) + (zones[4*unit+z].SelfTune?4:0));\n        msgs[unit].payload[z*4+2] = makeWord(clampTemp(0));\n        msgs[unit].payload[z*4+3] = makeWord(clampTemp(0));\n    }\n    if (Array.isArray(lastValues[unit])) {\n        for (var i = 0; i < 16; i++) {\n            if (msgs[unit].payload[i] != lastValues[unit][i]) {\n                anyChanges[unit] = true;\n                break;\n            }\n        }\n    }\n    else {\n        anyChanges[unit] = true;\n    }\n\n    if (anyChanges[unit])\n    {\n        global.set(`Write${unit}Vals`, msgs[unit].payload);\n    }\n}\n\nreturn [\n    anyChanges[0] ? msgs[0] : null,\n    anyChanges[1] ? msgs[1] : null,\n    anyChanges[2] ? msgs[2] : null,\n    anyChanges[3] ? msgs[3] : null,\n    anyChanges[4] ? msgs[4] : null,\n    anyChanges[5] ? msgs[5] : null,\n];\n",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 360,
        "wires": [
            [
                "e249c0b97864464e"
            ],
            [
                "dbf8d462d226d5f5"
            ],
            [
                "2e6706460ef0448a"
            ],
            [
                "4795839a023ff12e"
            ],
            [
                "30b0e273ebceb941"
            ],
            [
                "eb6db3f817566118"
            ]
        ]
    },
    {
        "id": "6339b138708afb43",
        "type": "function",
        "z": "5c24d4e82af3d5c6",
        "name": "PLCnext Formatter",
        "func": "var values = msg.payload;\nmsg.payload = {\n    variables: []\n}\n\nvar firstZone = 1;\n\nif (msg.modbusRequest.unitid == \"10\")\n    firstZone = 1;\nelse if (msg.modbusRequest.unitid == \"11\")\n    firstZone = 5;\nelse if (msg.modbusRequest.unitid == \"12\")\n    firstZone = 9;\nelse if (msg.modbusRequest.unitid == \"13\")\n    firstZone = 13;\nelse if (msg.modbusRequest.unitid == \"14\")\n    firstZone = 17;\nelse if (msg.modbusRequest.unitid == \"15\")\n    firstZone = 21;\n\nif (msg.topic == \"requestB\")\n    firstZone += 2;\n\nfunction makeVariable(zone, name, value)\n{\n    return {\n        path:`Arp.Plc.Eclr/Zone[${zone+firstZone}].${name}`,\n        value: value,\n        valueType:\"Constant\"\n    }\n}\n\nvar v = 0;\nfor (var z=0; z<2; z++)\n{\n    msg.payload.variables[v++] = makeVariable(z,\"PV\",values[z*9+0]);\n    msg.payload.variables[v++] = makeVariable(z,\"SPA\",values[z*9+1]);\n    msg.payload.variables[v++] = makeVariable(z,\"Output\",values[z*9+2]*0.1);\n    msg.payload.variables[v++] = makeVariable(z,\"Alarms\",values[z*9+3]);\n    msg.payload.variables[v++] = makeVariable(z,\"Amps\", values[z*9+4]*0.1);\n    msg.payload.variables[v++] = makeVariable(z,\"Enabled\", (values[z*9+5] & 8) == 0);\n    msg.payload.variables[v++] = makeVariable(z,\"SelfTuning\", (values[z*9+5] & 4) > 0);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 860,
        "wires": [
            [
                "1f988a0adf69e6cf"
            ]
        ]
    },
    {
        "id": "e209f35e10d8ecb7",
        "type": "inject",
        "z": "5c24d4e82af3d5c6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1.1",
        "topic": "requestB",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 980,
        "wires": [
            [
                "d38631410be15f97",
                "43748c7b19a2d63d",
                "ddfd52d5fd006b5d",
                "7f2fa4500d93aa72",
                "54594826db1be4ad",
                "de8151dd7d4c402e"
            ]
        ]
    },
    {
        "id": "2e6706460ef0448a",
        "type": "modbus-write",
        "z": "5c24d4e82af3d5c6",
        "name": "Write3",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "12",
        "dataType": "MHoldingRegisters",
        "adr": "36",
        "quantity": "16",
        "server": "b8436940cd504d64",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "dbf8d462d226d5f5",
        "type": "modbus-write",
        "z": "5c24d4e82af3d5c6",
        "name": "Write2",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "11",
        "dataType": "MHoldingRegisters",
        "adr": "36",
        "quantity": "16",
        "server": "b99a88ddc66f488d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e249c0b97864464e",
        "type": "modbus-write",
        "z": "5c24d4e82af3d5c6",
        "name": "Write1",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "10",
        "dataType": "MHoldingRegisters",
        "adr": "36",
        "quantity": "16",
        "server": "2738082274d8a592",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 260,
        "wires": [
            [
                "759207418df67bb5"
            ],
            []
        ]
    },
    {
        "id": "eb6db3f817566118",
        "type": "modbus-write",
        "z": "5c24d4e82af3d5c6",
        "name": "Write6",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "15",
        "dataType": "MHoldingRegisters",
        "adr": "36",
        "quantity": "16",
        "server": "8ed1856c0dd889fd",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "30b0e273ebceb941",
        "type": "modbus-write",
        "z": "5c24d4e82af3d5c6",
        "name": "Write5",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "14",
        "dataType": "MHoldingRegisters",
        "adr": "36",
        "quantity": "16",
        "server": "e40be0edeab0ba78",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4795839a023ff12e",
        "type": "modbus-write",
        "z": "5c24d4e82af3d5c6",
        "name": "Write4",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "13",
        "dataType": "MHoldingRegisters",
        "adr": "36",
        "quantity": "16",
        "server": "a3b7149c09054706",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8c3e0f5c4a60676f",
        "type": "modbus-getter",
        "z": "5c24d4e82af3d5c6",
        "name": "Read3a",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "12",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "18",
        "server": "b8436940cd504d64",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 720,
        "wires": [
            [
                "6339b138708afb43"
            ],
            []
        ]
    },
    {
        "id": "50ee10517d60282e",
        "type": "modbus-getter",
        "z": "5c24d4e82af3d5c6",
        "name": "Read2a",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "11",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "18",
        "server": "b99a88ddc66f488d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 680,
        "wires": [
            [
                "6339b138708afb43"
            ],
            []
        ]
    },
    {
        "id": "870514ab7b0a4b40",
        "type": "modbus-getter",
        "z": "5c24d4e82af3d5c6",
        "name": "Read1a",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "10",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "18",
        "server": "2738082274d8a592",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 640,
        "wires": [
            [
                "6339b138708afb43"
            ],
            []
        ]
    },
    {
        "id": "d38631410be15f97",
        "type": "modbus-getter",
        "z": "5c24d4e82af3d5c6",
        "name": "Read1b",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "10",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "18",
        "server": "2738082274d8a592",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 880,
        "wires": [
            [
                "6339b138708afb43"
            ],
            []
        ]
    },
    {
        "id": "43748c7b19a2d63d",
        "type": "modbus-getter",
        "z": "5c24d4e82af3d5c6",
        "name": "Read2b",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "11",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "18",
        "server": "b99a88ddc66f488d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 920,
        "wires": [
            [
                "6339b138708afb43"
            ],
            []
        ]
    },
    {
        "id": "ddfd52d5fd006b5d",
        "type": "modbus-getter",
        "z": "5c24d4e82af3d5c6",
        "name": "Read3b",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "12",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "18",
        "server": "b8436940cd504d64",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 960,
        "wires": [
            [
                "6339b138708afb43"
            ],
            []
        ]
    },
    {
        "id": "3f57322d9036b438",
        "type": "modbus-getter",
        "z": "5c24d4e82af3d5c6",
        "name": "Read6a",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "15",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "18",
        "server": "8ed1856c0dd889fd",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 840,
        "wires": [
            [
                "6339b138708afb43"
            ],
            []
        ]
    },
    {
        "id": "0bc750a58a21a35f",
        "type": "modbus-getter",
        "z": "5c24d4e82af3d5c6",
        "name": "Read5a",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "14",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "18",
        "server": "e40be0edeab0ba78",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 800,
        "wires": [
            [
                "6339b138708afb43"
            ],
            []
        ]
    },
    {
        "id": "885d984864f9d2bc",
        "type": "modbus-getter",
        "z": "5c24d4e82af3d5c6",
        "name": "Read4a",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "13",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "18",
        "server": "a3b7149c09054706",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 760,
        "wires": [
            [
                "6339b138708afb43"
            ],
            []
        ]
    },
    {
        "id": "7f2fa4500d93aa72",
        "type": "modbus-getter",
        "z": "5c24d4e82af3d5c6",
        "name": "Read4b",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "13",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "18",
        "server": "a3b7149c09054706",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 1000,
        "wires": [
            [
                "6339b138708afb43"
            ],
            []
        ]
    },
    {
        "id": "54594826db1be4ad",
        "type": "modbus-getter",
        "z": "5c24d4e82af3d5c6",
        "name": "Read5b",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "14",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "18",
        "server": "e40be0edeab0ba78",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 1040,
        "wires": [
            [
                "6339b138708afb43"
            ],
            []
        ]
    },
    {
        "id": "de8151dd7d4c402e",
        "type": "modbus-getter",
        "z": "5c24d4e82af3d5c6",
        "name": "Read6b",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "15",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "18",
        "server": "8ed1856c0dd889fd",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 1080,
        "wires": [
            [
                "6339b138708afb43"
            ],
            []
        ]
    }
]