Machine1 node-red.json
[
    {
        "id": "f4c312cdd0835c2f",
        "type": "tab",
        "label": "IIoT Framework",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a1865497fe0cc86a",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7e5571bfecc57c9e",
        "type": "group",
        "z": "f4c312cdd0835c2f",
        "name": "InfluxDB",
        "style": {
            "label": true,
            "color": "#ffC000",
            "stroke": "#ffC000"
        },
        "nodes": [
            "0c8e18e0cc5d478b",
            "dba524cdbe9f9d6c",
            "885b60547af607cb",
            "cd5ac2e3a59a6264"
        ],
        "x": 674,
        "y": 59,
        "w": 692,
        "h": 122
    },
    {
        "id": "9542b94ded293103",
        "type": "group",
        "z": "f4c312cdd0835c2f",
        "name": "Debug",
        "style": {
            "label": true
        },
        "nodes": [
            "281740aaf354c17a",
            "167818fa45b87899",
            "d6783647ba9d8d5d",
            "c52a499ed5c2311b"
        ],
        "x": 674,
        "y": 319,
        "w": 692,
        "h": 282
    },
    {
        "id": "7d708220e7352df6",
        "type": "group",
        "z": "f4c312cdd0835c2f",
        "name": "IIoT Framework",
        "style": {
            "label": true,
            "stroke": "#007C84",
            "color": "#007C84"
        },
        "nodes": [
            "512a2afaca550d7c",
            "d28e5ee5688987e4",
            "a8c69e3fc9a7aed9",
            "01b7cf4196c38069"
        ],
        "x": 14,
        "y": 79,
        "w": 612,
        "h": 122
    },
    {
        "id": "b17d34f713647319",
        "type": "plc-connector",
        "host": "192.168.3.20",
        "station_name": "PLCnext",
        "session_timeout": "5000",
        "api_version": "v1.4",
        "auth_required": "true"
    },
    {
        "id": "3d4a2a7d7377b0aa",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://192.168.3.20:58086/",
        "timeout": "",
        "rejectUnauthorized": false
    },
    {
        "id": "b826498401685724",
        "type": "modbus-client",
        "name": "Gefran3",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.3.23",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "3",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "6bb6fa456075eb32",
        "type": "modbus-client",
        "name": "Gefran2",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.3.22",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "2",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "03d24f212f3a0679",
        "type": "modbus-client",
        "name": "Gefran1",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.3.21",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "522ac1feeaf7a4b1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.3.20",
        "port": "51883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "512a2afaca550d7c",
        "type": "inject",
        "z": "f4c312cdd0835c2f",
        "g": "7d708220e7352df6",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "d28e5ee5688987e4"
            ]
        ]
    },
    {
        "id": "d28e5ee5688987e4",
        "type": "plc-read-variables",
        "z": "f4c312cdd0835c2f",
        "g": "7d708220e7352df6",
        "plc_connector": "b17d34f713647319",
        "variables": "Arp.Plc.Eclr/Zone,Arp.Plc.Eclr/Enable",
        "searchbar": "",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "0c8e18e0cc5d478b",
                "dd8fb22f75a1be15",
                "4bae2a6a2c544449",
                "b3a0d9050b3bfa4b"
            ]
        ]
    },
    {
        "id": "592df8b9faca0ec7",
        "type": "comment",
        "z": "f4c312cdd0835c2f",
        "name": "Collect data from the IIoT Framework and send them to the activated Outputs",
        "info": "",
        "x": 290,
        "y": 40,
        "wires": []
    },
    {
        "id": "0c8e18e0cc5d478b",
        "type": "function",
        "z": "f4c312cdd0835c2f",
        "g": "7e5571bfecc57c9e",
        "name": "InfluxDB formatter",
        "func": "// Init data array\nvar zones = msg.payload.variables[0].value\nvar data = []\n\ntry {\n    var datetime = Date.now();\n    for (var elem of zones){\n        \n        temperatureDataPoint = {\n            measurement:'temperature',\n            tags:{\n                Zone:elem.Id,\n            },\n            fields:{\n                PV:elem.PV,\n                SP:elem.SPA,\n            },\n            strTimestamp: datetime,\n        };\n        \n        enabledDataPoint = {\n            measurement:'enabled',\n            tags:{\n                Zone:elem.Id,\n            },\n            fields:{\n                value:elem.Enabled,\n            },\n            strTimestamp: datetime,\n        };\n        \n        outputDataPoint = {\n            measurement:\"output\",\n            tags:{\n                Zone:elem.Id,\n            },\n            fields:{\n                value:elem.Output,\n            },\n            strTimestamp: datetime,\n        };\n        \n        // Insert data points into data array\n        data.push(temperatureDataPoint);\n        data.push(enabledDataPoint);\n        data.push(outputDataPoint);\n    }\n    enableDataPoint = {\n        measurement:'enable',\n        fields:{\n            value:msg.payload.variables[1].value,\n        },\n        strTimestamp: datetime,\n    };\n    data.push(enableDataPoint);\n} catch (e) {\n    node.error(e);\n}\n\n// Hand over payload\nmsg.payload =  data\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 140,
        "wires": [
            [
                "dba524cdbe9f9d6c",
                "c52a499ed5c2311b"
            ]
        ]
    },
    {
        "id": "dba524cdbe9f9d6c",
        "type": "influxdb batch",
        "z": "f4c312cdd0835c2f",
        "g": "7e5571bfecc57c9e",
        "influxdb": "3d4a2a7d7377b0aa",
        "precision": "",
        "retentionPolicy": "",
        "name": "InfluxDB Batch",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "keg",
        "bucket": "AAP",
        "x": 1120,
        "y": 140,
        "wires": []
    },
    {
        "id": "281740aaf354c17a",
        "type": "debug",
        "z": "f4c312cdd0835c2f",
        "g": "9542b94ded293103",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 440,
        "wires": []
    },
    {
        "id": "885b60547af607cb",
        "type": "comment",
        "z": "f4c312cdd0835c2f",
        "d": true,
        "g": "7e5571bfecc57c9e",
        "name": "Configuration of InfluxDB Parameters",
        "info": "",
        "x": 1190,
        "y": 100,
        "wires": []
    },
    {
        "id": "a8c69e3fc9a7aed9",
        "type": "comment",
        "z": "f4c312cdd0835c2f",
        "g": "7d708220e7352df6",
        "name": "Configuration of PLCnext Parameters",
        "info": "",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "cd5ac2e3a59a6264",
        "type": "comment",
        "z": "f4c312cdd0835c2f",
        "d": true,
        "g": "7e5571bfecc57c9e",
        "name": "Activate Node to use InfluxDB",
        "info": "",
        "x": 820,
        "y": 100,
        "wires": []
    },
    {
        "id": "167818fa45b87899",
        "type": "comment",
        "z": "f4c312cdd0835c2f",
        "d": true,
        "g": "9542b94ded293103",
        "name": "Activate for Debug",
        "info": "",
        "x": 790,
        "y": 520,
        "wires": []
    },
    {
        "id": "01b7cf4196c38069",
        "type": "comment",
        "z": "f4c312cdd0835c2f",
        "g": "7d708220e7352df6",
        "name": "Configuration of Update Time",
        "info": "",
        "x": 160,
        "y": 120,
        "wires": []
    },
    {
        "id": "dd8fb22f75a1be15",
        "type": "function",
        "z": "f4c312cdd0835c2f",
        "name": "Gefran3 Formatter",
        "func": "var zones = msg.payload.variables[0].value;\nvar enable = msg.payload.variables[1].value;\nvar lastValues = global.get(\"Write3Vals\");\nvar anyChanges = false;\n\nfunction clampTemp(temp)\n{\n    if (temp < 32)\n        return 32;\n    if (temp > 999)\n        return 999;\n    return temp;\n}\n\nfunction makeWord(num)\n{\n    if (num < 0)\n        num += 32768;\n        \n    return num & 0xFFFF;\n}\n\nmsg.payload = [\n    0,\n    1,\n    2,\n    3,\n    4,\n    5,\n    6,\n    7,\n    8,\n    9,\n    10,\n    11,\n    12,\n    13,\n    14,\n    15,\n]\n\nfor (var z = 0; z < 4; z++)\n{\n    msg.payload[z*4+0] = makeWord(clampTemp(zones[8+z].SP));\n    msg.payload[z*4+1] = makeWord(((enable && zones[8+z].Enable)?0:8) + (zones[8+z].SelfTune?4:0));\n    msg.payload[z*4+2] = makeWord(clampTemp(0));\n    msg.payload[z*4+3] = makeWord(clampTemp(0));\n}\n\nif (Array.isArray(lastValues))\n{\n    for (var i = 0; i < 16; i++)\n    {\n        if (msg.payload[i] != lastValues[i])\n        {\n            anyChanges = true;\n            break;\n        }\n    }\n}\nelse\n{\n    anyChanges = true;\n}\n\nif (anyChanges)\n{\n    global.set(\"Write3Vals\", msg.payload);\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 340,
        "wires": [
            [
                "c706f8950c5e392d",
                "281740aaf354c17a"
            ]
        ]
    },
    {
        "id": "646a6c9650517f78",
        "type": "inject",
        "z": "f4c312cdd0835c2f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "requestA",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 900,
        "wires": [
            [
                "fa49c4ef6d985853",
                "17d34b0e849bf2a7",
                "118cf78fe0c38dfd"
            ]
        ]
    },
    {
        "id": "924c83baeaa89480",
        "type": "comment",
        "z": "f4c312cdd0835c2f",
        "name": "Max 18 registers",
        "info": "Max 18 registers per request",
        "x": 480,
        "y": 800,
        "wires": []
    },
    {
        "id": "e5d2b6aa3223fb6c",
        "type": "plc-write-variables",
        "z": "f4c312cdd0835c2f",
        "plc_connector": "b17d34f713647319",
        "vars": "",
        "var_list": "{\"items\":[]}",
        "searchbar": "Arp.Plc.Eclr/Zone[9].PV",
        "x": 930,
        "y": 940,
        "wires": [
            [
                "d6783647ba9d8d5d"
            ]
        ]
    },
    {
        "id": "d6783647ba9d8d5d",
        "type": "debug",
        "z": "f4c312cdd0835c2f",
        "g": "9542b94ded293103",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 560,
        "wires": []
    },
    {
        "id": "4bae2a6a2c544449",
        "type": "function",
        "z": "f4c312cdd0835c2f",
        "name": "Gefran2 Formatter",
        "func": "var zones = msg.payload.variables[0].value;\nvar enable = msg.payload.variables[1].value;\nvar lastValues = global.get(\"Write2Vals\");\nvar anyChanges = false;\n\nfunction clampTemp(temp)\n{\n    if (temp < 32)\n        return 32;\n    if (temp > 999)\n        return 999;\n    return temp;\n}\n\nfunction makeWord(num)\n{\n    if (num < 0)\n        num += 32768;\n        \n    return num & 0xFFFF;\n}\n\nmsg.payload = [\n    0,\n    1,\n    2,\n    3,\n    4,\n    5,\n    6,\n    7,\n    8,\n    9,\n    10,\n    11,\n    12,\n    13,\n    14,\n    15,\n]\n\nfor (var z = 0; z < 4; z++)\n{\n    msg.payload[z*4+0] = makeWord(clampTemp(zones[4+z].SP));\n    msg.payload[z*4+1] = makeWord(((enable && zones[4+z].Enable)?0:8) + (zones[4+z].SelfTune?4:0));\n    msg.payload[z*4+2] = makeWord(clampTemp(0));\n    msg.payload[z*4+3] = makeWord(clampTemp(0));\n}\n\n\nif (Array.isArray(lastValues))\n{\n    for (var i = 0; i < 16; i++)\n    {\n        if (msg.payload[i] != lastValues[i])\n        {\n            anyChanges = true;\n            break;\n        }\n    }\n}\nelse\n{\n    anyChanges = true;\n}\n\nif (anyChanges)\n{\n    global.set(\"Write2Vals\", msg.payload);\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 300,
        "wires": [
            [
                "91cf7427ace2e7cd",
                "281740aaf354c17a"
            ]
        ]
    },
    {
        "id": "b3a0d9050b3bfa4b",
        "type": "function",
        "z": "f4c312cdd0835c2f",
        "name": "Gefran1 Formatter",
        "func": "var zones = msg.payload.variables[0].value;\nvar enable = msg.payload.variables[1].value;\nvar lastValues = global.get(\"Write1Vals\");\nvar anyChanges = false;\n\nfunction clampTemp(temp)\n{\n    if (temp < 32)\n        return 32;\n    if (temp > 999)\n        return 999;\n    return temp;\n}\n\nfunction makeWord(num)\n{\n    if (num < 0)\n        num += 32768;\n        \n    return num & 0xFFFF;\n}\n\nmsg.payload = [\n    0,\n    1,\n    2,\n    3,\n    4,\n    5,\n    6,\n    7,\n    8,\n    9,\n    10,\n    11,\n    12,\n    13,\n    14,\n    15,\n]\n\nfor (var z = 0; z < 4; z++)\n{\n    msg.payload[z*4+0] = makeWord(clampTemp(zones[z].SP));\n    msg.payload[z*4+1] = makeWord(((enable && zones[z].Enable)?0:8) + (zones[z].SelfTune?4:0));\n    msg.payload[z*4+2] = makeWord(clampTemp(0));\n    msg.payload[z*4+3] = makeWord(clampTemp(0));\n}\n\n\nif (Array.isArray(lastValues))\n{\n    for (var i = 0; i < 16; i++)\n    {\n        if (msg.payload[i] != lastValues[i])\n        {\n            anyChanges = true;\n            break;\n        }\n    }\n}\nelse\n{\n    anyChanges = true;\n}\n\nif (anyChanges)\n{\n    global.set(\"Write1Vals\", msg.payload);\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 260,
        "wires": [
            [
                "74544a2632270981",
                "281740aaf354c17a"
            ]
        ]
    },
    {
        "id": "5657e8d6b72dd7c0",
        "type": "function",
        "z": "f4c312cdd0835c2f",
        "name": "PLCnext Formatter",
        "func": "values = msg.payload;\nmsg.payload = {\n    variables: []\n}\n\nvar firstZone = 1;\n\nif (msg.modbusRequest.unitid == \"1\")\n    firstZone = 1;\nelse if (msg.modbusRequest.unitid == \"2\")\n    firstZone = 5;\nelse if (msg.modbusRequest.unitid == \"3\")\n    firstZone = 9;\n\nfunction makeVariable(zone, name, value)\n{\n    return {\n        path:`Arp.Plc.Eclr/Zone[${zone+firstZone}].${name}`,\n        value: value,\n        valueType:\"Constant\"\n    }\n}\n\nfor (var z=0; z<4; z++)\n{\n    if (msg.topic == \"requestA\")\n    {\n        msg.payload.variables[z*4+0] = makeVariable(z,\"PV\",values[z*4+0]);\n        msg.payload.variables[z*4+1] = makeVariable(z,\"SPA\",values[z*4+1]);\n        msg.payload.variables[z*4+2] = makeVariable(z,\"Output\",values[z*4+2]*0.1);\n        msg.payload.variables[z*4+3] = makeVariable(z,\"Alarms\",values[z*4+3]);\n    }\n    else if (msg.topic == \"requestB\")\n    {\n        msg.payload.variables[z] = makeVariable(z, \"Amps\", values[z*3+0]*0.1);\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 940,
        "wires": [
            [
                "e5d2b6aa3223fb6c"
            ]
        ]
    },
    {
        "id": "fa49c4ef6d985853",
        "type": "modbus-getter",
        "z": "f4c312cdd0835c2f",
        "name": "Read3a",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "18",
        "server": "b826498401685724",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 1000,
        "wires": [
            [
                "5657e8d6b72dd7c0"
            ],
            []
        ]
    },
    {
        "id": "17d34b0e849bf2a7",
        "type": "modbus-getter",
        "z": "f4c312cdd0835c2f",
        "name": "Read2a",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "18",
        "server": "6bb6fa456075eb32",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 920,
        "wires": [
            [
                "5657e8d6b72dd7c0"
            ],
            []
        ]
    },
    {
        "id": "118cf78fe0c38dfd",
        "type": "modbus-getter",
        "z": "f4c312cdd0835c2f",
        "name": "Read1a",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "18",
        "server": "03d24f212f3a0679",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 840,
        "wires": [
            [
                "5657e8d6b72dd7c0"
            ],
            []
        ]
    },
    {
        "id": "c706f8950c5e392d",
        "type": "modbus-write",
        "z": "f4c312cdd0835c2f",
        "name": "Write3",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "MHoldingRegisters",
        "adr": "32",
        "quantity": "16",
        "server": "b826498401685724",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 340,
        "wires": [
            [
                "281740aaf354c17a"
            ],
            []
        ]
    },
    {
        "id": "91cf7427ace2e7cd",
        "type": "modbus-write",
        "z": "f4c312cdd0835c2f",
        "name": "Write2",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "2",
        "dataType": "MHoldingRegisters",
        "adr": "32",
        "quantity": "16",
        "server": "6bb6fa456075eb32",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 300,
        "wires": [
            [
                "281740aaf354c17a"
            ],
            []
        ]
    },
    {
        "id": "74544a2632270981",
        "type": "modbus-write",
        "z": "f4c312cdd0835c2f",
        "name": "Write1",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "32",
        "quantity": "16",
        "server": "03d24f212f3a0679",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 260,
        "wires": [
            [
                "281740aaf354c17a"
            ],
            []
        ]
    },
    {
        "id": "c52a499ed5c2311b",
        "type": "debug",
        "z": "f4c312cdd0835c2f",
        "g": "9542b94ded293103",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 360,
        "wires": []
    },
    {
        "id": "c6d96e9a123c05bb",
        "type": "modbus-getter",
        "z": "f4c312cdd0835c2f",
        "name": "Read1b",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "14",
        "server": "03d24f212f3a0679",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 880,
        "wires": [
            [
                "5657e8d6b72dd7c0"
            ],
            []
        ]
    },
    {
        "id": "411c0ef389aab0fd",
        "type": "modbus-getter",
        "z": "f4c312cdd0835c2f",
        "name": "Read2b",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "14",
        "server": "6bb6fa456075eb32",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 960,
        "wires": [
            [
                "5657e8d6b72dd7c0"
            ],
            []
        ]
    },
    {
        "id": "1be20b4b1ad549d9",
        "type": "modbus-getter",
        "z": "f4c312cdd0835c2f",
        "name": "Read3b",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "14",
        "server": "b826498401685724",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 1040,
        "wires": [
            [
                "5657e8d6b72dd7c0"
            ],
            []
        ]
    },
    {
        "id": "058850fb37e6c105",
        "type": "inject",
        "z": "f4c312cdd0835c2f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1.1",
        "topic": "requestB",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 980,
        "wires": [
            [
                "c6d96e9a123c05bb",
                "411c0ef389aab0fd",
                "1be20b4b1ad549d9"
            ]
        ]
    },
    {
        "id": "14d3ab40c201964c",
        "type": "plc-read-variables",
        "z": "a1865497fe0cc86a",
        "plc_connector": "b17d34f713647319",
        "variables": "Arp.Plc.Eclr/LoadCell",
        "searchbar": "",
        "x": 317.89581298828125,
        "y": 162.90277099609375,
        "wires": [
            [
                "dcb99e168866c359",
                "23daf313615e28b9"
            ]
        ]
    },
    {
        "id": "1ef697bab02c5279",
        "type": "inject",
        "z": "a1865497fe0cc86a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 97.89581298828125,
        "y": 162.90277099609375,
        "wires": [
            [
                "14d3ab40c201964c"
            ]
        ]
    },
    {
        "id": "f53090d2f63325a9",
        "type": "mqtt out",
        "z": "a1865497fe0cc86a",
        "name": "",
        "topic": "Pull01/Stream01/Force",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "522ac1feeaf7a4b1",
        "x": 780,
        "y": 160,
        "wires": []
    },
    {
        "id": "34b73720a1846d30",
        "type": "comment",
        "z": "a1865497fe0cc86a",
        "name": "Read Force Analog",
        "info": "",
        "x": 317.89581298828125,
        "y": 122.90277099609375,
        "wires": []
    },
    {
        "id": "f4fd65b4f6464709",
        "type": "debug",
        "z": "a1865497fe0cc86a",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 240,
        "wires": []
    },
    {
        "id": "dcb99e168866c359",
        "type": "function",
        "z": "a1865497fe0cc86a",
        "name": "function 1",
        "func": "msg.payload = msg.payload.variables[0].value;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 160,
        "wires": [
            [
                "f4fd65b4f6464709",
                "f53090d2f63325a9"
            ]
        ]
    },
    {
        "id": "23daf313615e28b9",
        "type": "debug",
        "z": "a1865497fe0cc86a",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 80,
        "wires": []
    }
]