Machine1 node-red.json
[
    {
        "id": "f4c312cdd0835c2f",
        "type": "tab",
        "label": "IIoT Framework",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a1865497fe0cc86a",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "35b16d5ecdf07d35",
        "type": "tab",
        "label": "PID",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "17a988668c938554",
        "type": "subflow",
        "name": "ZonePID",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 140,
                "wires": [
                    {
                        "id": "706c2eaa29a64752"
                    },
                    {
                        "id": "736ffd4dde8f80ec"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "ui-group",
                "type": "ui-group",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Zone UI Group"
                    },
                    "type": "conf-types"
                }
            },
            {
                "name": "gefran",
                "type": "modbus-client",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Gefran"
                    },
                    "type": "conf-types"
                }
            },
            {
                "name": "zoneNumber",
                "type": "num",
                "value": "0"
            },
            {
                "name": "address",
                "type": "num",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "7d708220e7352df6",
        "type": "group",
        "z": "f4c312cdd0835c2f",
        "name": "IIoT Framework",
        "style": {
            "label": true,
            "stroke": "#007C84",
            "color": "#007C84"
        },
        "nodes": [
            "512a2afaca550d7c",
            "d28e5ee5688987e4",
            "a8c69e3fc9a7aed9",
            "01b7cf4196c38069"
        ],
        "x": 14,
        "y": 79,
        "w": 612,
        "h": 122
    },
    {
        "id": "b17d34f713647319",
        "type": "plc-connector",
        "host": "192.168.3.20",
        "station_name": "PLCnext",
        "session_timeout": "5000",
        "api_version": "v1.4",
        "auth_required": "true"
    },
    {
        "id": "b826498401685724",
        "type": "modbus-client",
        "name": "Gefran3",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.3.23",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 3,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "6bb6fa456075eb32",
        "type": "modbus-client",
        "name": "Gefran2",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.3.22",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 2,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "03d24f212f3a0679",
        "type": "modbus-client",
        "name": "Gefran1",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.3.21",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "522ac1feeaf7a4b1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.3.20",
        "port": "51883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d26ae779cd42b188",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "CentralPlcNext",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://192.168.3.10:58086",
        "timeout": "10",
        "rejectUnauthorized": false
    },
    {
        "id": "61844bc14615df73",
        "type": "ui-group",
        "name": "Group 1",
        "page": "21ad89b103b9db43",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "14a60ac4ede7757a",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "21ad89b103b9db43",
        "type": "ui-page",
        "name": "Stream 1",
        "ui": "0f8ebb1347a3901d",
        "path": "/left",
        "icon": "arrow-up-left-bold",
        "layout": "grid",
        "theme": "14a60ac4ede7757a",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0f8ebb1347a3901d",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "97b2e8a85171b3f8",
        "type": "ui-group",
        "name": "Zone 1",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8b7058ce384d10a7",
        "type": "ui-group",
        "name": "Zone 2",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "934364c959e9bb43",
        "type": "ui-group",
        "name": "Zone 3",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e54e26312981cfb6",
        "type": "ui-group",
        "name": "Zone 4",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "36160ea804b58025",
        "type": "ui-group",
        "name": "Zone 5",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 6,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "9fc1a33aafd4b025",
        "type": "ui-group",
        "name": "Zone 6",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 7,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "953586ab3798305d",
        "type": "ui-group",
        "name": "Zone 7",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 8,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "de0d9821fd686e97",
        "type": "ui-group",
        "name": "Zone 8",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 9,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "67b9eb49f9e9bda0",
        "type": "ui-group",
        "name": "Zone 9",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 10,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ccae82d470e59db0",
        "type": "ui-group",
        "name": "Zone 10",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 11,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "dcb46e110cb2b7e9",
        "type": "ui-group",
        "name": "Zone 11",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 12,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5765e6a6197a13a4",
        "type": "ui-group",
        "name": "Zone 12",
        "page": "21ad89b103b9db43",
        "width": "10",
        "height": "1",
        "order": 13,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "706c2eaa29a64752",
        "type": "function",
        "z": "17a988668c938554",
        "name": "Split Values",
        "func": "return [\n    {payload : msg.p},\n    {payload : msg.i},\n    {payload : msg.d},\n    {payload : msg.t},\n    ];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 140,
        "wires": [
            [
                "5dba53281c2ed83a"
            ],
            [
                "4ba5cc9e62c6c178"
            ],
            [
                "3d84ad479d83d915"
            ],
            [
                "90e911e2ab3eaf70"
            ]
        ]
    },
    {
        "id": "7ef158487665bd98",
        "type": "function",
        "z": "17a988668c938554",
        "name": "Store",
        "func": "flow.set(`${env.get(\"zoneNumber\")}P`, msg.payload);",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "1df00faa7ed2f0ba",
        "type": "function",
        "z": "17a988668c938554",
        "name": "Store",
        "func": "flow.set(`${env.get(\"zoneNumber\")}I`, msg.payload);",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "c1cc073a29dae67c",
        "type": "function",
        "z": "17a988668c938554",
        "name": "Store",
        "func": "flow.set(`${env.get(\"zoneNumber\")}D`, msg.payload);",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "c822af1c209c1a46",
        "type": "function",
        "z": "17a988668c938554",
        "name": "Store",
        "func": "flow.set(`${env.get(\"zoneNumber\")}T`, msg.payload);",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "addef47733fb77fb",
        "type": "function",
        "z": "17a988668c938554",
        "name": "Recall",
        "func": "msg.payload = [\n    flow.get(`${env.get(\"zoneNumber\")}P`) * 10,\n    flow.get(`${env.get(\"zoneNumber\")}I`) * 100,\n    flow.get(`${env.get(\"zoneNumber\")}D`) * 100,\n    flow.get(`${env.get(\"zoneNumber\")}T`),\n    ];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 220,
        "wires": [
            [
                "63b12672611e14eb"
            ]
        ]
    },
    {
        "id": "63b12672611e14eb",
        "type": "modbus-write",
        "z": "17a988668c938554",
        "name": "WriteGefran",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "",
        "dataType": "MHoldingRegisters",
        "adr": "${address}",
        "quantity": "4",
        "server": "${gefran}",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 790,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "736ffd4dde8f80ec",
        "type": "function",
        "z": "17a988668c938554",
        "name": "Detect Changes",
        "func": "var z = env.get(\"zoneNumber\");\nvar lastP = flow.get(`${z}Pl`);\nvar lastI = flow.get(`${z}Il`);\nvar lastD = flow.get(`${z}Dl`);\nvar lastT = flow.get(`${z}Tl`);\nvar wasEnabled = flow.get(`${z}e`);\nvar isEnabled = global.get(`${z}Enabled`);\nflow.set(`${z}e`, isEnabled);\n\n//check if we're running\nif (!isEnabled)\n    return null;\n\n//skip change check on rising edge of enable to always record the PID values on start\nif (wasEnabled)\n    //check if there are changes\n    if (lastP ==  msg.p && lastI ==  msg.i && lastD ==  msg.d && lastT ==  msg.t)\n        return null;\n    \nvar m = global.get(\"machineNumber\");\nvar stream = 2*m - 1;\nif (m > 1 && z <= 12)\n    stream -= 1;\n   \nvar test = global.get(`Test`);\n   \nmsg.payload = [\n    {\n        PID_Pb:msg.p,\n        PID_It:msg.i,\n        PID_dt:msg.d,\n        PID_Ct:msg.t\n    },\n    {\n        machine: m,\n        stream: stream,\n        zone: (z-1)%12+1,\n        plug: z,\n        test: test,\n    },\n];\n\nflow.set(`${z}Pl`, msg.p);\nflow.set(`${z}Il`, msg.i);\nflow.set(`${z}Dl`, msg.d);\nflow.set(`${z}Tl`, msg.t);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 300,
        "wires": [
            [
                "bda0ca8a7992232b"
            ]
        ]
    },
    {
        "id": "bda0ca8a7992232b",
        "type": "influxdb out",
        "z": "17a988668c938554",
        "influxdb": "d26ae779cd42b188",
        "name": "",
        "measurement": "heater_data",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "A2P",
        "bucket": "Pultrusion",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "5dba53281c2ed83a",
        "type": "ui-number-input",
        "z": "17a988668c938554",
        "group": "${ui-group}",
        "name": "",
        "label": "P",
        "order": 1,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "999.9",
        "step": "0.1",
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "stacked",
        "x": 430,
        "y": 60,
        "wires": [
            [
                "7ef158487665bd98"
            ]
        ]
    },
    {
        "id": "4ba5cc9e62c6c178",
        "type": "ui-number-input",
        "z": "17a988668c938554",
        "group": "${ui-group}",
        "name": "",
        "label": "I",
        "order": 1,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "99.99",
        "step": "0.01",
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "stacked",
        "x": 430,
        "y": 100,
        "wires": [
            [
                "1df00faa7ed2f0ba"
            ]
        ]
    },
    {
        "id": "3d84ad479d83d915",
        "type": "ui-number-input",
        "z": "17a988668c938554",
        "group": "${ui-group}",
        "name": "",
        "label": "D",
        "order": 1,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "99.99",
        "step": "0.01",
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "stacked",
        "x": 430,
        "y": 140,
        "wires": [
            [
                "c1cc073a29dae67c"
            ]
        ]
    },
    {
        "id": "90e911e2ab3eaf70",
        "type": "ui-number-input",
        "z": "17a988668c938554",
        "group": "${ui-group}",
        "name": "",
        "label": "T",
        "order": 1,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "200",
        "step": "1",
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "stacked",
        "x": 430,
        "y": 180,
        "wires": [
            [
                "c822af1c209c1a46"
            ]
        ]
    },
    {
        "id": "38950161e31bc57d",
        "type": "ui-button",
        "z": "17a988668c938554",
        "group": "${ui-group}",
        "name": "",
        "label": "Write",
        "order": 0,
        "width": "1",
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "addef47733fb77fb"
            ]
        ]
    },
    {
        "id": "512a2afaca550d7c",
        "type": "inject",
        "z": "f4c312cdd0835c2f",
        "g": "7d708220e7352df6",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "d28e5ee5688987e4"
            ]
        ]
    },
    {
        "id": "d28e5ee5688987e4",
        "type": "plc-read-variables",
        "z": "f4c312cdd0835c2f",
        "g": "7d708220e7352df6",
        "plc_connector": "b17d34f713647319",
        "variables": "Arp.Plc.Eclr/Zone,Arp.Plc.Eclr/Test",
        "searchbar": "",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "b314ab68ffa53120"
            ]
        ]
    },
    {
        "id": "592df8b9faca0ec7",
        "type": "comment",
        "z": "f4c312cdd0835c2f",
        "name": "Collect data from the IIoT Framework and send them to the activated Outputs",
        "info": "",
        "x": 290,
        "y": 40,
        "wires": []
    },
    {
        "id": "a8c69e3fc9a7aed9",
        "type": "comment",
        "z": "f4c312cdd0835c2f",
        "g": "7d708220e7352df6",
        "name": "Configuration of PLCnext Parameters",
        "info": "",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "01b7cf4196c38069",
        "type": "comment",
        "z": "f4c312cdd0835c2f",
        "g": "7d708220e7352df6",
        "name": "Configuration of Update Time",
        "info": "",
        "x": 160,
        "y": 120,
        "wires": []
    },
    {
        "id": "646a6c9650517f78",
        "type": "inject",
        "z": "f4c312cdd0835c2f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "requestA",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "fa49c4ef6d985853",
                "17d34b0e849bf2a7",
                "118cf78fe0c38dfd"
            ]
        ]
    },
    {
        "id": "924c83baeaa89480",
        "type": "comment",
        "z": "f4c312cdd0835c2f",
        "name": "Max 18 registers",
        "info": "Max 18 registers per request",
        "x": 480,
        "y": 340,
        "wires": []
    },
    {
        "id": "e5d2b6aa3223fb6c",
        "type": "plc-write-variables",
        "z": "f4c312cdd0835c2f",
        "plc_connector": "b17d34f713647319",
        "vars": "",
        "var_list": "{\"items\":[]}",
        "searchbar": "Arp.Plc.Eclr/Zone[9].PV",
        "x": 930,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "5657e8d6b72dd7c0",
        "type": "function",
        "z": "f4c312cdd0835c2f",
        "name": "PLCnext Formatter",
        "func": "values = msg.payload;\nmsg.payload = {};\nmsg.payload.variables = [];\n\nvar test = global.get(`Test`);\nvar m = global.get(`machineNumber`);\nvar firstZone = 1;\n\nif (msg.modbusRequest.unitid == \"1\")\n    firstZone = 1;\nelse if (msg.modbusRequest.unitid == \"2\")\n    firstZone = 5;\nelse if (msg.modbusRequest.unitid == \"3\")\n    firstZone = 9;\n    \nif (msg.topic == \"requestB\")\n    firstZone += 2;\n\nvar stream = m*2-1;\nif (m > 1 && firstZone < 13)\n    stream -= 1;\n\nfunction makeVariable(zone, name, value)\n{\n    return {\n        path:`Arp.Plc.Eclr/Zone[${zone+firstZone}].${name}`,\n        value: value,\n        valueType:\"Constant\"\n    }\n}\n\nvar influxMsg = {tags:{\n    machine: m,\n    stream: stream,\n    zone: firstZone,\n}}\noutputMsg = {};\noutputMsg.payload = [];\nvar v = 0;\nfor (var z=0; z<2; z++)\n{\n    if (global.get(`${z + firstZone}Enabled`))\n        outputMsg.payload[z] = [\n            {\n                duty_pct:values[z*9+2]*0.1,\n            },\n            {\n                machine: m,\n                stream: stream,\n                zone: (z + firstZone - 1)%12 + 1,\n                plug: z + firstZone,\n                test: test,\n            },\n        ];\n    flow.set(`${z+firstZone}PV`, values[z*9]);\n    flow.set(`${z+firstZone}Output`, values[z*9+2]*0.1);\n    flow.set(`${z+firstZone}Amps`, values[z*9+4]*0.1);\n    msg.payload.variables[v++] = makeVariable(z,\"PV\",values[z*9+0]);\n    msg.payload.variables[v++] = makeVariable(z,\"SPA\",values[z*9+1]);\n    msg.payload.variables[v++] = makeVariable(z,\"Output\",values[z*9+2]*0.1);\n    msg.payload.variables[v++] = makeVariable(z,\"Alarms\",values[z*9+3]);\n    msg.payload.variables[v++] = makeVariable(z,\"Amps\",values[z*9+4]*0.1);\n    msg.payload.variables[v++] = makeVariable(z,\"Enabled\", (values[z*9+5] & 8) == 0);\n    msg.payload.variables[v++] = makeVariable(z,\"SelfTuning\", (values[z*9+5] & 4) > 0);\n}\n\nreturn [msg,outputMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 480,
        "wires": [
            [
                "e5d2b6aa3223fb6c"
            ],
            [
                "ee202aa932f38ac1"
            ]
        ]
    },
    {
        "id": "fa49c4ef6d985853",
        "type": "modbus-getter",
        "z": "f4c312cdd0835c2f",
        "name": "Read3a",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "18",
        "server": "b826498401685724",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 540,
        "wires": [
            [
                "5657e8d6b72dd7c0"
            ],
            []
        ]
    },
    {
        "id": "17d34b0e849bf2a7",
        "type": "modbus-getter",
        "z": "f4c312cdd0835c2f",
        "name": "Read2a",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "18",
        "server": "6bb6fa456075eb32",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 460,
        "wires": [
            [
                "5657e8d6b72dd7c0"
            ],
            []
        ]
    },
    {
        "id": "118cf78fe0c38dfd",
        "type": "modbus-getter",
        "z": "f4c312cdd0835c2f",
        "name": "Read1a",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "18",
        "server": "03d24f212f3a0679",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 380,
        "wires": [
            [
                "5657e8d6b72dd7c0"
            ],
            []
        ]
    },
    {
        "id": "c706f8950c5e392d",
        "type": "modbus-write",
        "z": "f4c312cdd0835c2f",
        "name": "Write3",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "MHoldingRegisters",
        "adr": "36",
        "quantity": "16",
        "server": "b826498401685724",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "91cf7427ace2e7cd",
        "type": "modbus-write",
        "z": "f4c312cdd0835c2f",
        "name": "Write2",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "2",
        "dataType": "MHoldingRegisters",
        "adr": "36",
        "quantity": "16",
        "server": "6bb6fa456075eb32",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "74544a2632270981",
        "type": "modbus-write",
        "z": "f4c312cdd0835c2f",
        "name": "Write1",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "36",
        "quantity": "16",
        "server": "03d24f212f3a0679",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 950,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c6d96e9a123c05bb",
        "type": "modbus-getter",
        "z": "f4c312cdd0835c2f",
        "name": "Read1b",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "18",
        "server": "03d24f212f3a0679",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 420,
        "wires": [
            [
                "5657e8d6b72dd7c0"
            ],
            []
        ]
    },
    {
        "id": "411c0ef389aab0fd",
        "type": "modbus-getter",
        "z": "f4c312cdd0835c2f",
        "name": "Read2b",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "18",
        "server": "6bb6fa456075eb32",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 500,
        "wires": [
            [
                "5657e8d6b72dd7c0"
            ],
            []
        ]
    },
    {
        "id": "1be20b4b1ad549d9",
        "type": "modbus-getter",
        "z": "f4c312cdd0835c2f",
        "name": "Read3b",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "18",
        "server": "b826498401685724",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 580,
        "wires": [
            [
                "5657e8d6b72dd7c0"
            ],
            []
        ]
    },
    {
        "id": "058850fb37e6c105",
        "type": "inject",
        "z": "f4c312cdd0835c2f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.6",
        "topic": "requestB",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 520,
        "wires": [
            [
                "c6d96e9a123c05bb",
                "411c0ef389aab0fd",
                "1be20b4b1ad549d9"
            ]
        ]
    },
    {
        "id": "a1f3e9f69223bbb9",
        "type": "inject",
        "z": "f4c312cdd0835c2f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 510,
        "y": 740,
        "wires": [
            [
                "f71dab88ed1ba6be"
            ]
        ]
    },
    {
        "id": "f71dab88ed1ba6be",
        "type": "function",
        "z": "f4c312cdd0835c2f",
        "name": "temp & amps",
        "func": "msg.payload = [];\n\nvar m = global.get(`machineNumber`);\nvar stream = m*2-1;\nif (m == 1)\n    stream = 2;\n\nvar sample = null;\nvar test = global.get(`Test`);\nif (test)\n    sample = {\n        payload:{\n            timestamp: Date.now()\n        },\n        filename:\"nodered:/data/stream1.csv\",\n        columns:\"timestamp\",\n    };\n\nvar j = 0;\nfor(var i = 1; i <= 24; i++)\n{\n    if (global.get(`${i}Enabled`))\n    {\n        msg.payload[j++] = [\n            {\n                temperature_F: flow.get(`${i}PV`),\n                current_A: flow.get(`${i}Amps`),\n            },\n            {\n                machine: global.get(`machineNumber`),\n                stream: i<13 ? stream - 1 : stream,\n                zone: (i-1)%12+1,\n                plug: i,\n                test: test,\n            },\n        ]\n        if (test) {\n            sample.columns += `,temp${i},duty${i},amps${i}`;\n            sample.payload[`temp${i}`] = flow.get(`${i}PV`);\n            sample.payload[`duty${i}`] = flow.get(`${i}Output`);\n            sample.payload[`amps${i}`] = flow.get(`${i}Amps`);\n        }\n    }\n}\nreturn [ msg, sample ];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 740,
        "wires": [
            [
                "ee202aa932f38ac1"
            ],
            [
                "60c61016f02e73c1"
            ]
        ]
    },
    {
        "id": "60c61016f02e73c1",
        "type": "csv",
        "z": "f4c312cdd0835c2f",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": true,
        "include_null_values": true,
        "x": 890,
        "y": 740,
        "wires": [
            [
                "400764f1cd4d1ddc"
            ]
        ]
    },
    {
        "id": "400764f1cd4d1ddc",
        "type": "file",
        "z": "f4c312cdd0835c2f",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1080,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "ee202aa932f38ac1",
        "type": "influxdb out",
        "z": "f4c312cdd0835c2f",
        "influxdb": "d26ae779cd42b188",
        "name": "",
        "measurement": "heater_data",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "A2P",
        "bucket": "Pultrusion",
        "x": 1000,
        "y": 600,
        "wires": []
    },
    {
        "id": "b314ab68ffa53120",
        "type": "function",
        "z": "f4c312cdd0835c2f",
        "name": "Gefran Formatter",
        "func": "var zones = msg.payload.variables[0].value;\nglobal.set(`Test`, msg.payload.variables[1].value === true);\nvar lastValues = [];\nvar msgs = [{},{},{}];\nvar anyChanges = [false,false,false];\n\n\nfor(var i = 0; i < 12; i++)\n    global.set(`${i+1}Enabled`, zones[i].Enabled);\n\nfunction clampTemp(temp)\n{\n    if (temp < 32)\n        return 32;\n    if (temp > 999)\n        return 999;\n    return temp;\n}\n\nfunction makeWord(num)\n{\n    if (num < 0)\n        num += 32768;\n        \n    return num & 0xFFFF;\n}\n\nfor (var unit = 0; unit < 3; unit++)\n{\n    lastValues[unit] = global.get(`Write${unit}Vals`);\n\n    msgs[unit] = {\n        payload: [\n            0,\n            1,\n            2,\n            3,\n            4,\n            5,\n            6,\n            7,\n            8,\n            9,\n            10,\n            11,\n            12,\n            13,\n            14,\n            15,\n        ]\n    };\n\n    for (var z = 0; z < 4; z++)\n    {\n        msgs[unit].payload[z*4+0] = makeWord(clampTemp(zones[4*unit+z].SP));\n        msgs[unit].payload[z*4+1] = makeWord((zones[4*unit+z].Enabled?0:8) + (zones[4*unit+z].SelfTune?4:0));\n        msgs[unit].payload[z*4+2] = makeWord(clampTemp(0));\n        msgs[unit].payload[z*4+3] = makeWord(clampTemp(0));\n    }\n    if (Array.isArray(lastValues[unit])) {\n        for (var i = 0; i < 16; i++) {\n            if (msgs[unit].payload[i] != lastValues[unit][i]) {\n                anyChanges[unit] = true;\n                break;\n            }\n        }\n    }\n    else {\n        anyChanges[unit] = true;\n    }\n\n    if (anyChanges[unit])\n    {\n        global.set(`Write${unit}Vals`, msgs[unit].payload);\n    }\n}\n\nreturn [\n    anyChanges[0] ? msgs[0] : null,\n    anyChanges[1] ? msgs[1] : null,\n    anyChanges[2] ? msgs[2] : null,\n];\n",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 240,
        "wires": [
            [
                "74544a2632270981"
            ],
            [
                "91cf7427ace2e7cd"
            ],
            [
                "c706f8950c5e392d"
            ]
        ]
    },
    {
        "id": "acb0ad431e73dd55",
        "type": "function",
        "z": "f4c312cdd0835c2f",
        "name": "Set Global Constants",
        "func": "global.set(`machineNumber`, 1);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "e5e1b3c5d78f4fb6",
        "type": "inject",
        "z": "f4c312cdd0835c2f",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.01",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "acb0ad431e73dd55"
            ]
        ]
    },
    {
        "id": "14d3ab40c201964c",
        "type": "plc-read-variables",
        "z": "a1865497fe0cc86a",
        "plc_connector": "b17d34f713647319",
        "variables": "Arp.Plc.Eclr/LoadCell",
        "searchbar": "",
        "x": 317.89581298828125,
        "y": 162.90277099609375,
        "wires": [
            [
                "dcb99e168866c359",
                "23daf313615e28b9"
            ]
        ]
    },
    {
        "id": "1ef697bab02c5279",
        "type": "inject",
        "z": "a1865497fe0cc86a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 97.89581298828125,
        "y": 162.90277099609375,
        "wires": [
            [
                "14d3ab40c201964c"
            ]
        ]
    },
    {
        "id": "f53090d2f63325a9",
        "type": "mqtt out",
        "z": "a1865497fe0cc86a",
        "name": "",
        "topic": "Pull01/Stream01/Force",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "522ac1feeaf7a4b1",
        "x": 780,
        "y": 160,
        "wires": []
    },
    {
        "id": "34b73720a1846d30",
        "type": "comment",
        "z": "a1865497fe0cc86a",
        "name": "Read Force Analog",
        "info": "",
        "x": 317.89581298828125,
        "y": 122.90277099609375,
        "wires": []
    },
    {
        "id": "f4fd65b4f6464709",
        "type": "debug",
        "z": "a1865497fe0cc86a",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 240,
        "wires": []
    },
    {
        "id": "dcb99e168866c359",
        "type": "function",
        "z": "a1865497fe0cc86a",
        "name": "function 1",
        "func": "msg.payload = msg.payload.variables[0].value;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 160,
        "wires": [
            [
                "f4fd65b4f6464709",
                "f53090d2f63325a9"
            ]
        ]
    },
    {
        "id": "23daf313615e28b9",
        "type": "debug",
        "z": "a1865497fe0cc86a",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "a87f64e14c7b517c",
        "type": "modbus-getter",
        "z": "35b16d5ecdf07d35",
        "name": "Read3",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "72",
        "quantity": "18",
        "server": "b826498401685724",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 490,
        "y": 420,
        "wires": [
            [
                "d332971c79e6f731"
            ],
            []
        ]
    },
    {
        "id": "727f6e297013d8e2",
        "type": "modbus-getter",
        "z": "35b16d5ecdf07d35",
        "name": "Read2",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "72",
        "quantity": "18",
        "server": "6bb6fa456075eb32",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 490,
        "y": 260,
        "wires": [
            [
                "d944412902949ae4"
            ],
            []
        ]
    },
    {
        "id": "8a0c865a1cb08ff7",
        "type": "modbus-getter",
        "z": "35b16d5ecdf07d35",
        "name": "Read1",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "72",
        "quantity": "18",
        "server": "03d24f212f3a0679",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 490,
        "y": 100,
        "wires": [
            [
                "2717c82094531bb2"
            ],
            []
        ]
    },
    {
        "id": "39dfa52bf98b2f33",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 1 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "97b2e8a85171b3f8",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "03d24f212f3a0679",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "1",
                "type": "num"
            },
            {
                "name": "address",
                "value": "72",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 40,
        "wires": []
    },
    {
        "id": "2717c82094531bb2",
        "type": "function",
        "z": "35b16d5ecdf07d35",
        "name": "Split Zone Data",
        "func": "values = msg.payload;\n\nfunction makeMessage(rawData)\n{\n    return {\n        p: rawData[0] * 0.1,\n        i: rawData[1] * 0.01,\n        d: rawData[2] * 0.01,\n        t: rawData[3],\n    };\n}\n\nreturn [\n    makeMessage(values),\n    makeMessage(values.slice(4,8)),\n    makeMessage(values.slice(8,12)),\n    makeMessage(values.slice(12,16))];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 100,
        "wires": [
            [
                "39dfa52bf98b2f33"
            ],
            [
                "ec7745182424622a"
            ],
            [
                "49cde45fb0374a1f"
            ],
            [
                "8b7026f87f8a267e"
            ]
        ]
    },
    {
        "id": "ec7745182424622a",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 2 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "8b7058ce384d10a7",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "03d24f212f3a0679",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "2",
                "type": "num"
            },
            {
                "name": "address",
                "value": "76",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 80,
        "wires": []
    },
    {
        "id": "49cde45fb0374a1f",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 3 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "934364c959e9bb43",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "03d24f212f3a0679",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "3",
                "type": "num"
            },
            {
                "name": "address",
                "value": "80",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "8b7026f87f8a267e",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 4 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "e54e26312981cfb6",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "03d24f212f3a0679",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "4",
                "type": "num"
            },
            {
                "name": "address",
                "value": "84",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 160,
        "wires": []
    },
    {
        "id": "0f2dce9146065c69",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 5 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "36160ea804b58025",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "6bb6fa456075eb32",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "5",
                "type": "num"
            },
            {
                "name": "address",
                "value": "72",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 200,
        "wires": []
    },
    {
        "id": "d944412902949ae4",
        "type": "function",
        "z": "35b16d5ecdf07d35",
        "name": "Split Zone Data",
        "func": "values = msg.payload;\n\nfunction makeMessage(rawData)\n{\n    return {\n        p: rawData[0] * 0.1,\n        i: rawData[1] * 0.01,\n        d: rawData[2] * 0.01,\n        t: rawData[3],\n    };\n}\n\nreturn [\n    makeMessage(values),\n    makeMessage(values.slice(4,8)),\n    makeMessage(values.slice(8,12)),\n    makeMessage(values.slice(12,16))];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 260,
        "wires": [
            [
                "0f2dce9146065c69"
            ],
            [
                "9c83d11c7f9399c6"
            ],
            [
                "79e6493df2f8cb7a"
            ],
            [
                "56e597155071d27e"
            ]
        ]
    },
    {
        "id": "9c83d11c7f9399c6",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 6 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "9fc1a33aafd4b025",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "6bb6fa456075eb32",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "6",
                "type": "num"
            },
            {
                "name": "address",
                "value": "76",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "79e6493df2f8cb7a",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 7 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "953586ab3798305d",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "6bb6fa456075eb32",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "7",
                "type": "num"
            },
            {
                "name": "address",
                "value": "80",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "56e597155071d27e",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 8 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "de0d9821fd686e97",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "6bb6fa456075eb32",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "8",
                "type": "num"
            },
            {
                "name": "address",
                "value": "84",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 320,
        "wires": []
    },
    {
        "id": "ef0f68ca3da76d24",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 9 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "67b9eb49f9e9bda0",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "b826498401685724",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "9",
                "type": "num"
            },
            {
                "name": "address",
                "value": "72",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 360,
        "wires": []
    },
    {
        "id": "d332971c79e6f731",
        "type": "function",
        "z": "35b16d5ecdf07d35",
        "name": "Split Zone Data",
        "func": "values = msg.payload;\n\nfunction makeMessage(rawData)\n{\n    return {\n        p: rawData[0] * 0.1,\n        i: rawData[1] * 0.01,\n        d: rawData[2] * 0.01,\n        t: rawData[3],\n    };\n}\n\nreturn [\n    makeMessage(values),\n    makeMessage(values.slice(4,8)),\n    makeMessage(values.slice(8,12)),\n    makeMessage(values.slice(12,16))];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 420,
        "wires": [
            [
                "ef0f68ca3da76d24"
            ],
            [
                "be6260cde63ab594"
            ],
            [
                "1083138d656222c8"
            ],
            [
                "e406d2c3d5c3ed5a"
            ]
        ]
    },
    {
        "id": "be6260cde63ab594",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 10 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "ccae82d470e59db0",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "b826498401685724",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "10",
                "type": "num"
            },
            {
                "name": "address",
                "value": "76",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 400,
        "wires": []
    },
    {
        "id": "1083138d656222c8",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 11 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "dcb46e110cb2b7e9",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "b826498401685724",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "11",
                "type": "num"
            },
            {
                "name": "address",
                "value": "80",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 440,
        "wires": []
    },
    {
        "id": "e406d2c3d5c3ed5a",
        "type": "subflow:17a988668c938554",
        "z": "35b16d5ecdf07d35",
        "name": "Zone 12 PID",
        "env": [
            {
                "name": "ui-group",
                "value": "5765e6a6197a13a4",
                "type": "conf-type"
            },
            {
                "name": "gefran",
                "value": "b826498401685724",
                "type": "conf-type"
            },
            {
                "name": "zoneNumber",
                "value": "12",
                "type": "num"
            },
            {
                "name": "address",
                "value": "84",
                "type": "num"
            },
            {
                "key": "DB2_SF_ORDER",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 890,
        "y": 480,
        "wires": []
    },
    {
        "id": "415430c092555714",
        "type": "inject",
        "z": "35b16d5ecdf07d35",
        "name": "Every Minute",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "5.5",
        "topic": "",
        "x": 260,
        "y": 300,
        "wires": [
            [
                "8a0c865a1cb08ff7",
                "727f6e297013d8e2",
                "a87f64e14c7b517c"
            ]
        ]
    },
    {
        "id": "28760b4314950aac",
        "type": "ui-button",
        "z": "35b16d5ecdf07d35",
        "group": "61844bc14615df73",
        "name": "GetAllButton",
        "label": "Get All",
        "order": 1,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "8a0c865a1cb08ff7",
                "727f6e297013d8e2",
                "a87f64e14c7b517c"
            ]
        ]
    }
]